#%RAML 1.0
title: ReCodEx REST API
uses:
  Security: !include traits/security.raml
  Collections: !include traits/collections.raml
version: v1
protocols: [ HTTPS ]
baseUri: http://api.recodex.cz

/users:
  get:
    is: [ Security.admin, Collections.pageable ]
    description: Get the list of all users.
  put:
    is: [ Security.secured ]
    description: |
      Create new ReCodEx account or bind an existing account with
      another authentication service.

  /{userId}:
    is: [ Security.secured ]
    get:
      description: Get details of a specific user.
      responses:
        200:
          displayName: Retrieve user's profile.
          description: The user's profile details.
          body:

    put:
      description: Update user's personal information.
    delete:
      description: Close user's account.

    /logins:
      get:
        description: Get the list of user's authentication methods.

      /{loginId}:
        put:
          description: Enable or disable an authentication method.
        delete:
          description: Disable an authentication method.

    /settings:
      description: User's settings.
      get:
        description: Get user's current settings.
      put:
        description: Change the settings of the user.

    /log:
      get:
        is: [ Collections.pageable ]
        description: Get the history of user's activities.

    /groups:
      get:
        is: [ Collections.pageable ]
        description: The list of groups into which the user belongs.

    /assignments:
      get:
        is: [ Collections.pageable ]
        description: The list of assignments for the user accross all groups.

    /submissions:
      get:
        is: [ Collections.pageable ]
        description: The history of user's assignments' submissions.

/instances:
  get:
    description: Get the list of all instances
    queryParameters:
      valid:
        displayName: Valid
        description: Get only valid or invalid instances
        type: boolean
        required: false
      language:
        displayName: Language
        description: Get only instances with given language
        type: string
        minLength: 2
        maxLength: 2
        required: false
  post:
    description: Create a new instance for a separate institution
    queryParameters:
      name:
        displayName: Instance Name
        description: Name of the instance
        type: string
        example: MFF UK, Prague
      userId:
        displayName: Owner
        description: Owner of the instance
        type: string
        example: John Doe
      language:
        displayName: Language
        description: Default app language of the instance specified by the two letter standard [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1)
        type: string
        example: en
        minLength: 2
        maxLength: 2

  /{instanceId}:
    get:
      description: Get the instance details
    put:
      description: Update the instance details
    delete:
      description: Delete the instance and its groups

    /licences:
      get:
        description: Get the list of all licences of the instance
      post:
        description: Add a new licence to the instance

      /{licenceId}:
        put:
          description: Update the given licence of the instance
        delete:
          description: Delete the given licence of the instance

    /groups:
      get:
        description: Get the list of all groups of the instance

/groups:
  get:
    description: Get the list of all groups
    queryParameters:
      instanceId:
        displayName: Instance ID
        description: Get only groups of the instance with given
        required: false
  post:
    description: Create new group
    queryParameters:
      name:
      instanceId:
      externalId:
      parentGroupId:

  /{groupId}:
    get:
      description: Get the group details
    put:
      description: Update the group details
    delete:
      description: Delete group
    /users:
      get:
        description: Get all users of the group
      post:
        description: Add user to the group
      /{userId}:
        put:
          description: Update the role of the user in a group
        delete:
          description: Remove user from the group
