swagger: '2.0'
host: 'recodex.projekty.ms.mff.cuni.cz:4000'
basePath: /v1
consumes:
  - application/json
produces:
  - application/json
schemes:
  - https
securityDefinitions:
  WebToken:
    type: apiKey
    in: header
    name: Authorization
  BackendAuth:
    type: basic
info:
  title: 'ReCodEx REST API'
  version: v1
  description: 'Provides access to user/group management and submission evaluation'
tags:
  -
    name: exercises
    description: 'Endpoints for exercise manipulation'
  -
    name: broker-reports
    description: 'Endpoints used by the backend to notify the frontend of errors and changes in job status'
  -
    name: login
    description: 'Endpoints used to log a user in'
  -
    name: comments
    description: 'Endpoints for comment manipulation'
  -
    name: assignments
    description: 'Endpoints for exercise assignment manipulation'
  -
    name: groups
    description: 'Endpoints for group manipulation'
  -
    name: instances
    description: 'Endpoints for instance manipulation'
  -
    name: reference-exercise-solutions
    description: 'Endpoints for manipulation of reference solutions of exercises'
  -
    name: submissions
    description: 'Endpoints for manipulation of solution submissions'
  -
    name: uploaded-files
    description: 'Endpoints for management of uploaded files'
  -
    name: users
    description: 'User management endpoints'
  -
    name: forgotten-password
    description: 'Endpoints associated with resetting forgotten passwords'
  -
    name: submission-failures
    description: 'Submission failure report viewing and resolution'
  -
    name: runtime-environments
    description: 'Runtime environments endpoints'
  -
    name: hardware-groups
    description: 'Hardware groups endpoints'
  -
    name: job-config
    description: 'Endpoints for job configuration manipulation and validation'
paths:
  /login:
    post:
      description: 'Log in using user credentials'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'User''s E-mail'
          format: email
        -
          name: password
          required: false
          type: string
          in: formData
          description: Password
      responses:
        200:
          $ref: '#/responses/LoginResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - login
  /login/refresh:
    post:
      description: 'Refresh the access token of current user'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/LoginResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - login
      security:
        -
          WebToken: [ ]
  '/login/{serviceId}':
    post:
      description: 'Log in using an external authentication service'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'User name'
        -
          name: password
          required: false
          type: string
          in: formData
          description: Password
        -
          name: serviceId
          required: true
          in: path
          type: string
          description: 'Identifier of the login service'
      responses:
        200:
          $ref: '#/responses/LoginResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - login
  '/comments/{id}':
    get:
      description: 'Get a comment thread'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the comment thread'
      responses:
        200:
          $ref: '#/responses/CommentThreadResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        -
          WebToken: [ ]
    post:
      description: 'Add a comment to a thread'
      parameters:
        -
          name: text
          required: false
          type: string
          in: formData
          description: 'Text of the comment'
          minLength: 1
        -
          name: isPrivate
          required: false
          type: string
          in: formData
          description: 'True if the comment is private'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the comment thread'
      responses:
        200:
          $ref: '#/responses/CommentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        -
          WebToken: [ ]
  '/comments/{threadId}/comment/{commentId}/toggle':
    post:
      description: 'Make a private comment public or vice versa'
      parameters:
        -
          name: threadId
          required: true
          in: path
          type: string
          description: 'Identifier of the comment thread'
        -
          name: commentId
          required: true
          in: path
          type: string
          description: 'Identifier of the comment'
      responses:
        200:
          $ref: '#/responses/CommentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        -
          WebToken: [ ]
  /broker-reports/error:
    post:
      tags:
        - broker-reports
      description: 'Announce a backend error that is not related to any job (meant to be called by the backend)'
      parameters:
        -
          name: message
          required: false
          type: string
          in: formData
          description: 'A textual description of the error'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          BackendAuth: [ ]
  '/broker-reports/job-status/{jobId}':
    post:
      tags:
        - broker-reports
      description: 'Update the status of a job (meant to be called by the backend)'
      parameters:
        -
          name: status
          required: false
          type: string
          in: formData
          description: 'The new status of the job'
        -
          name: message
          required: false
          type: string
          in: formData
          description: 'A textual explanation of the status change'
        -
          name: jobId
          required: true
          in: path
          type: string
          description: 'Identifier of the job whose status is being reported'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          BackendAuth: [ ]
  /exercises:
    get:
      description: 'Get a list of exercises with an optional filter'
      parameters:
        -
          name: search
          required: false
          in: query
          type: string
          description: 'text which will be searched in exercises names'
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - exercises
      security:
        -
          WebToken: [ ]
    post:
      description: "Create exercise with all default values.\nExercise detail can be then changed in appropriate endpoint."
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}':
    get:
      description: 'Get details of an exercise'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - exercises
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update detail of an exercise'
      parameters:
        -
          name: name
          required: false
          in: formData
          description: 'Name of exercise'
        -
          name: difficulty
          required: false
          in: formData
          description: 'Difficulty of an exercise, should be one of ''easy'', ''medium'' or ''hard'''
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: isPublic
          in: formData
          required: false
          description: 'Exercise can be public or private'
          type: boolean
        -
          name: version
          in: formData
          required: false
          description: 'Version of the edited exercise'
        -
          name: description
          in: formData
          required: false
          description: 'Some brief description of this exercise for supervisors'
        -
          name: localizedTexts
          in: formData
          required: false
          description: 'A description of the exercise'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
    delete:
      description: 'Delete an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}/limits':
    get:
      description: 'Get a description of resource limits for an exercise'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/LimitsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - exercises
      security:
        -
          WebToken: [ ]
    post:
      description: 'Set resource limits for an exercise'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the exercise'
        -
          name: environments
          required: false
          in: formData
          description: 'A list of resource limits for the environments and hardware groups'
          type: array
          items:
            type: string
      responses:
        200:
          $ref: '#/responses/LimitsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - exercises
      security:
        -
          WebToken: [ ]
  /exercise-assignments:
    get:
      tags:
        - assignments
      description: 'Get a list of all assignments'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/AssignmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Assign an exercise to a group'
      parameters:
        -
          name: exerciseId
          required: false
          type: string
          in: formData
          description: 'Identifier of the exercise'
        -
          name: groupId
          required: false
          type: string
          format: uuid
          in: formData
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}':
    get:
      tags:
        - assignments
      description: 'Get details of an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Update details of an assignment'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the assignment'
          minLength: 2
        -
          name: isPublic
          required: false
          type: boolean
          in: formData
          description: 'Is the assignment ready to be displayed to students?'
        -
          name: description
          required: false
          type: string
          in: formData
          description: 'A description of the assignment'
        -
          name: firstDeadline
          required: false
          type: integer
          in: formData
          description: 'First deadline for submission of the assignment'
        -
          name: scoreConfig
          required: false
          type: string
          in: formData
          description: 'A configuration of the score calculator (the exact format depends on the calculator assigned to the exercise)'
        -
          name: allowSecondDeadline
          required: false
          type: boolean
          in: formData
          description: 'Should there be a second deadline for students who didn''t make the first one?'
        -
          name: secondDeadline
          required: false
          type: integer
          in: formData
          description: 'A second deadline for submission of the assignment (with different point award)'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the updated assignment'
        -
          name: maxPointsBeforeFirstDeadline
          required: false
          type: integer
          in: formData
          description: 'A maximum of points that can be awarded for a submission before first deadline'
        -
          name: submissionsCountLimit
          required: false
          type: integer
          in: formData
          description: 'A maximum amount of submissions by a student for the assignment'
        -
          name: maxPointsBeforeSecondDeadline
          required: false
          type: integer
          in: formData
          description: 'A maximum of points that can be awarded for a late submission'
        -
          name: localizedTexts
          required: false
          type: array
          items:
            $ref: '#/definitions/LocalizedAssignmentParam'
          in: formData
          description: 'A description of the assignment'
        -
          name: canViewLimitRatios
          required: false
          type: boolean
          in: formData
          description: 'Can user view ratio of his solution memory and time usages and assignment limits?'
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the edited exercise'
        -
          name: isBonus
          in: formData
          required: false
          type: boolean
          description: 'If set to true then points from this exercise will not be included in overall score of group'
        -
          name: pointsPercentualThreshold
          in: formData
          required: false
          type: integer
          description: 'A minimum percentage of points needed to gain point from assignment'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
    delete:
      tags:
        - assignments
      description: 'Delete an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment to be removed'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/can-submit':
    get:
      tags:
        - assignments
      description: 'Check if the current user can submit solutions to the assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/users/{userId}/submissions':
    get:
      tags:
        - assignments
      description: 'Get a list of solutions submitted by a user of an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/SubmissionListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/users/{userId}/best-submission':
    get:
      tags:
        - assignments
      description: 'Get the best solution by a user to an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/SubmissionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/submit':
    post:
      tags:
        - assignments
      description: 'Submit a solution of an assignment'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'A private note by the author of the solution'
        -
          name: files
          required: false
          type: array
          items:
            type: string
            format: guid
          in: formData
          description: 'Submitted files'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
        -
          name: userId
          in: formData
          required: false
          description: 'Author of the submission'
        -
          name: runtimeEnvironmentId
          in: formData
          type: string
          format: guid
          required: false
          description: 'Identifier of the runtime environment used for evaluation'
      responses:
        200:
          $ref: '#/responses/AssignmentSubmissionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  /groups:
    get:
      description: 'Get a list of all groups'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Create a new group'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the group'
          minLength: 2
        -
          name: description
          required: false
          type: string
          in: formData
          description: 'Description of the group'
        -
          name: instanceId
          required: false
          type: string
          format: guid
          in: formData
          description: 'An identifier of the instance where the group should be created'
          minLength: 36
          maxLength: 36
        -
          name: parentGroupId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the parent group (if none is given, a top-level group is created)'
          minLength: 36
          maxLength: 36
        -
          name: publicStats
          required: false
          type: boolean
          in: formData
          description: 'Should students be able to see each other''s results?'
        -
          name: isPublic
          required: false
          type: boolean
          in: formData
          description: 'Should the group be visible to all student?'
        -
          name: externalId
          type: string
          in: formData
          required: false
          description: 'An informative, human readable indentifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  /groups/validate-add-group-data:
    post:
      description: 'Validate group creation data'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the group'
        -
          name: instanceId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the instance where the group belongs'
        -
          name: parentGroupId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the parent group'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}':
    get:
      description: 'Get details of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Delete a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update group info'
      parameters:
        -
          name: name
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'Name of the group'
        -
          name: description
          in: formData
          required: false
          type: string
          description: 'Description of the group'
        -
          name: publicStats
          in: formData
          required: false
          type: boolean
          description: 'Should students be able to see each other''s results?'
        -
          name: isPublic
          in: formData
          required: false
          type: boolean
          description: 'Should the group be visible to all student?'
        -
          name: threshold
          in: formData
          required: false
          type: integer
          description: 'A minimum percentage of points needed to pass the course'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the updated group'
        -
          name: externalId
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'An informative, human readable indentifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - groups
  '/groups/{id}/subgroups':
    get:
      description: 'Get a list of subgroups of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/members':
    get:
      description: 'Get a list of members of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/students':
    get:
      description: 'Get a list of students in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/students/stats':
    get:
      description: 'Get statistics of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupStatsResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/students/{userId}':
    get:
      description: 'Get statistics of a single student in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the student'
      responses:
        200:
          $ref: '#/responses/StudentStatsResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Add a student to a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the student'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Remove a student from a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the student'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/supervisors':
    get:
      description: 'Get a list of supervisors in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/supervisors/{userId}':
    post:
      description: 'Add a supervisor to a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the supervisor'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Remove a supervisor from a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the supervisor'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/admin':
    get:
      description: 'Get identifiers of administrators of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AdminIdListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Make a user an administrator of a group'
      parameters:
        -
          name: userId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of a user to be made administrator'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/assignments':
    get:
      description: 'Get all exercise assignments for a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AssignmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  /instances:
    get:
      description: 'Get a list of all instances'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/InstanceListResponse'
      tags:
        - instances
    post:
      description: 'Create a new instance'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the instance'
          minLength: 2
        -
          name: description
          required: false
          type: string
          in: formData
          description: 'Description of the instance'
        -
          name: isOpen
          required: false
          type: boolean
          in: formData
          description: 'Should the instance be open for registration?'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}':
    get:
      description: 'Get details of an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
      tags:
        - instances
    delete:
      description: 'Delete an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance to be deleted'
      responses:
        200:
          $ref: '#/responses/DeleteResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update an instance'
      parameters:
        -
          name: name
          required: false
          type: string
          minLength: 2
          in: formData
          description: 'Name of the instance'
        -
          name: description
          required: false
          in: formData
          description: 'Description of the instance'
        -
          name: isOpen
          required: false
          type: boolean
          in: formData
          description: 'Should the instance be open for registration?'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the updated instance'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}/groups':
    get:
      description: 'Get a list of groups in an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}/users':
    get:
      description: 'Get a list of users registered in an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
        -
          name: search
          required: false
          in: query
          type: string
          description: 'A result filter'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}/licences':
    get:
      description: 'Get a list of licenses associated with an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/LicenceListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
    post:
      description: 'Create a new license for an instance'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'A note for users or administrators'
          minLength: 2
        -
          name: validUntil
          required: false
          type: integer
          in: formData
          description: 'Expiration date of the license'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/LicenceResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/reference-solutions/{id}':
    get:
      description: 'Get reference solutions for an exercise'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
    post:
      description: 'Add new reference solution to an exercise'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'Description of this particular reference solution, for example used algorithm'
        -
          name: files
          required: false
          in: formData
          description: 'Files of the reference solution'
        -
          name: runtime
          required: false
          in: formData
          description: 'ID of runtime for this solution'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  /submissions:
    get:
      description: 'Get a list of all submissions, ever'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/SubmissionListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - submissions
      security:
        -
          WebToken: [ ]
  '/submissions/{id}':
    get:
      description: 'Get information about the evaluation of a submission'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the submission'
      responses:
        200:
          $ref: '#/responses/SubmissionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - submissions
      security:
        -
          WebToken: [ ]
    post:
      description: 'Set new amount of bonus points for a submission'
      parameters:
        -
          name: bonusPoints
          in: formData
          required: false
          type: integer
          description: 'New amount of bonus points, can be negative number'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the submission'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
  /uploaded-files:
    post:
      description: 'Upload a file'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/UploadedFileResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  '/uploaded-files/{id}':
    get:
      description: 'Get details of a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the uploaded file'
      responses:
        200:
          $ref: '#/responses/UploadedFileResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  '/uploaded-files/{id}/download':
    get:
      description: 'Download a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the file'
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  '/uploaded-files/{id}/content':
    get:
      description: 'Get the contents of a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the file'
      responses:
        200:
          $ref: '#/responses/PlainTextResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  /users:
    get:
      description: 'Get a list of all users'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - users
    post:
      description: 'Create a user account'
      parameters:
        -
          name: email
          required: false
          type: string
          in: formData
          description: 'An email that will serve as a login name'
          format: email
        -
          name: firstName
          required: false
          type: string
          in: formData
          description: 'First name'
          minLength: 2
        -
          name: lastName
          required: false
          type: string
          in: formData
          description: 'Last name'
          minLength: 2
        -
          name: password
          required: false
          type: string
          in: formData
          description: 'A password for authentication'
          minLength: 1
        -
          name: instanceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the instance to register in'
          minLength: 1
        -
          name: degreesBeforeName
          required: false
          type: string
          minLength: 1
          in: formData
          description: 'Degrees which is placed before user name'
        -
          name: degreesAfterName
          required: false
          type: string
          minLength: 1
          in: formData
          description: 'Degrees which is placed after user name'
      responses:
        200:
          $ref: '#/responses/UserResponse'
      tags:
        - users
  /users/ext:
    post:
      description: 'Create an account authenticated with an external service'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'Login name'
          minLength: 2
        -
          name: password
          required: false
          type: string
          in: formData
          description: 'Authentication password'
          minLength: 1
        -
          name: instanceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the instance to register in'
          minLength: 1
        -
          name: serviceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the authentication service'
          minLength: 1
      responses:
        200:
          $ref: '#/responses/UserResponse'
      tags:
        - users
  /users/validate-registration-data:
    post:
      description: 'Check if the registered E-mail isn''t already used and if the password is strong enough'
      parameters:
        -
          name: email
          required: false
          type: string
          format: email
          in: formData
          description: 'E-mail address (login name)'
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'Authentication password'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
      tags:
        - users
  '/users/{id}':
    get:
      description: 'Get details of a user account'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update the profile associated with a user account'
      parameters:
        -
          name: firstName
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'First name'
        -
          name: lastName
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'Last name'
        -
          name: degreesBeforeName
          in: formData
          required: false
          description: 'Degrees before name'
        -
          name: degreesAfterName
          in: formData
          required: false
          description: 'Degrees after name'
        -
          name: oldPassword
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'Old password of current user'
        -
          name: password
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'Old password of current user'
        -
          name: newPassword
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'New password of current user'
        -
          name: email
          in: formData
          required: false
          description: 'New email address'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - users
  '/users/{id}/groups':
    get:
      description: 'Get a list of groups for a user'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/UserGroupsResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  '/users/{id}/instances':
    get:
      description: 'Get a list of instances where a user is registered'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/InstanceListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  '/users/{id}/exercises':
    get:
      description: 'Get a list of exercises authored by a user'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  /users/detail:
    post:
      description: 'Update the profile associated with a user account'
      parameters:
        -
          name: email
          required: false
          type: string
          in: formData
          description: 'E-mail address'
          format: email
        -
          name: firstName
          required: false
          type: string
          in: formData
          description: 'First name'
          minLength: 2
        -
          name: lastName
          required: false
          type: string
          in: formData
          description: 'Last name'
          minLength: 2
        -
          name: degreesBeforeName
          required: false
          type: string
          in: formData
          description: 'Degrees before name'
          minLength: 1
        -
          name: degreesAfterName
          required: false
          type: string
          in: formData
          description: 'Degrees after name'
          minLength: 1
        -
          name: oldPassword
          required: false
          type: string
          format: password
          minLength: 1
          in: formData
          description: 'Old password of current user'
        -
          name: password
          required: false
          type: string
          format: password
          minLength: 1
          in: formData
          description: 'New password of current user'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  /forgotten-password:
    post:
      description: 'Request a password reset (user will receive an e-mail that prompts them to reset their password)'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'An identifier of the user whose password should be reset'
          minLength: 2
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - forgotten-password
  /forgotten-password/change:
    post:
      description: 'Change the user''s password'
      parameters:
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'The new password'
          minLength: 2
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - forgotten-password
      security:
        -
          WebToken: [ ]
  /forgotten-password/validate-password-strength:
    post:
      description: 'Check if a password is strong enough'
      parameters:
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'The password to be checked'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
      tags:
        - forgotten-password
  '/instances/licences/{licenceId}':
    post:
      description: 'Update an existing license for an instance'
      parameters:
        -
          name: note
          required: false
          type: string
          minLength: 2
          in: formData
          description: 'A note for users or administrators'
        -
          name: validUntil
          required: false
          type: string
          in: formData
          description: 'Expiration date of the license'
        -
          name: isValid
          required: false
          type: boolean
          in: formData
          description: 'Administrator switch to toggle licence validity'
        -
          name: licenceId
          required: true
          in: path
          type: string
          description: 'Identifier of the licence'
      responses:
        200:
          $ref: '#/responses/LicenceResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Remove existing license for an instance'
      parameters:
        -
          name: licenceId
          required: true
          in: path
          type: string
          description: 'Identifier of the licence'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/exercises/{id}/supplementary-files':
    post:
      description: 'Associate supplementary files with an exercise and upload them to remote file server'
      parameters:
        -
          name: files
          required: false
          in: formData
          description: 'Identifiers of supplementary files'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
    get:
      description: 'Get list of all supplementary files for an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}/runtime-configs':
    post:
      description: "Change runtime configuration of exercise.\nConfigurations can be added or deleted here, based on what is provided in arguments."
      parameters:
        -
          name: runtimeConfigs
          required: false
          in: formData
          description: 'Runtime configurations for the exercise'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  /submission-failures:
    get:
      description: 'List all submission failures, ever'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/SubmissionFailureListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  /submission-failures/unresolved:
    get:
      description: 'List all unresolved submission failures'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/SubmissionFailureListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/submission-failures/submission/{id}':
    get:
      description: 'List all failures of a single submission'
      parameters:
        -
          name: submissionId
          in: path
          required: true
          type: string
          description: 'An identifier of the submission'
      responses:
        200:
          $ref: '#/responses/SubmissionFailureListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/submission-failures/{id}':
    get:
      description: 'Get details of a failure'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the failure'
      responses:
        200:
          $ref: '#/responses/SubmissionFailureResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/submission-failures/{id}/resolve':
    post:
      description: 'Mark a submission failure as resolved'
      parameters:
        -
          name: note
          in: formData
          required: false
          type: string
          maxLength: 255
          description: 'Brief description of how the failure was resolved'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the failure'
      responses:
        200:
          $ref: '#/responses/SubmissionFailureResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/users/{id}/settings':
    post:
      description: 'Update the profile settings'
      parameters:
        -
          name: darkTheme
          in: formData
          required: false
          type: boolean
          description: 'Flag if dark theme is used'
        -
          name: vimMode
          in: formData
          required: false
          type: boolean
          description: 'Flag if vim keybinding is used'
        -
          name: defaultLanguage
          in: formData
          required: false
          type: string
          description: 'Default language of UI'
        -
          name: openedSidebar
          in: formData
          required: false
          type: boolean
          description: 'Flag if the sidebar of the web-app should be opened by default.'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - users
  /runtime-environments:
    get:
      description: 'Get a list of all runtime environments'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/RuntimeEnvironmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - runtime-environments
  '/exercises/{id}/validate':
    post:
      description: 'Check if the version of the exercise is up-to-date.'
      parameters:
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the exercise.'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ValidationResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}/fork':
    post:
      description: 'Fork exercise from given one into the completely new one.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercise-assignments/{id}/validate':
    post:
      description: 'Check if the version of the assignment is up-to-date.'
      parameters:
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the assignment.'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the assignment'
      responses:
        200:
          $ref: '#/responses/ValidationResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - assignments
  '/submissions/{id}/download-result':
    get:
      description: 'Download result archive from backend for particular submission.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
  /hardware-groups:
    get:
      description: 'Get a list of all hardware groups in system'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/HardwareGroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - hardware-groups
  /job-config/validate:
    post:
      description: 'Validate low-level job configuration in YAML and return list of error messages'
      parameters:
        -
          name: jobConfig
          in: formData
          required: false
          type: string
          description: 'Job configuration YAML'
      responses:
        200:
          $ref: '#/responses/PlainTextResponse'
      tags:
        - job-config
  '/exercises/{id}/additional-files':
    post:
      description: 'Associate additional exercise files with an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: files
          in: formData
          required: false
          type: array
          items:
            type: string
            format: guid
          description: 'Identifiers of additional files'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/reference-solutions/exercise/{exerciseId}':
    get:
      description: 'Get reference solutions for an exercise'
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
    post:
      description: 'Add new reference solution to an exercise'
      parameters:
        -
          name: note
          in: formData
          required: false
          type: string
          description: 'Description of this particular reference solution, for example used algorithm'
        -
          name: files
          in: formData
          required: false
          description: 'Files of the reference solution'
        -
          name: runtime
          in: formData
          required: false
          description: 'ID of runtime for this solution'
        -
          name: exerciseId
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/exercise/{exerciseId}/evaluate':
    post:
      description: 'Evaluate all reference solutions for an exercise (and for all configured hardware groups).'
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ExerciseReferenceSolutionEvaluationsReponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/{id}/evaluate':
    post:
      description: 'Evaluate a single reference exercise solution for all configured hardware groups'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the reference solution'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionEvaluationsReponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/evaluation/{evaluationId}/download-result':
    get:
      description: 'Download result archive from backend for a reference solution evaluation'
      parameters:
        -
          name: evaluationId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/submissions/{id}/set-accepted':
    get:
      description: 'Set submission of student as accepted, this submission will be then presented as the best one.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
responses:
  BooleanResponse:
    description: 'A boolean value'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: boolean
              example: true
  InstanceResponse:
    description: 'An instance object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Instance'
  InstanceListResponse:
    description: 'A list of instances'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Instance'
  LicenceResponse:
    description: 'A licence object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Licence'
  LicenceListResponse:
    description: 'A list of licences'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Licence'
  UserResponse:
    description: 'Details of a user'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/User'
  UserListResponse:
    description: 'A list of users'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/User'
  GroupResponse:
    description: 'A group object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Group'
  GroupListResponse:
    description: 'A list of groups'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Group'
  ExerciseResponse:
    description: 'An exercise object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Exercise'
  ExerciseListResponse:
    description: 'A list of exercises'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Exercise'
  AssignmentListResponse:
    description: 'A list of assignments'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Assignment'
  AssignmentResponse:
    description: 'An assignment object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Assignment'
  CommentResponse:
    description: 'A comment object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Comment'
  CommentThreadResponse:
    description: 'A comment thread object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/CommentThread'
  SubmissionResponse:
    description: 'A submission object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Submission'
  SubmissionListResponse:
    description: 'A list of submissions'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Submission'
  AssignmentSubmissionResponse:
    description: 'Information about submission'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: object
              properties:
                webSocketChannel:
                  type: object
                  properties: { id: { type: string }, monitorUrl: { type: string }, expectedTasksCount: { type: integer, example: 42 } }
                submission:
                  $ref: '#/definitions/Submission'
  UploadedFileResponse:
    description: 'An uploaded file object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/SolutionFile'
  UploadedFileListResponse:
    description: 'A list of uploaded file objects'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/SolutionFile'
  HardwareGroupListResponse:
    description: 'A list of hardware group objects'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/HardwareGroup'
  LoginResponse:
    description: 'Access token and user information'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: object
              properties:
                accessToken:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
                user:
                  $ref: '#/definitions/User'
  FileDownloadResponse:
    description: 'A file download'
    schema:
      type: file
  PlainTextResponse:
    description: 'Plain text'
    schema:
      type: text
  GroupStatsResponse:
    description: 'List of statistics for each student'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/StudentStatisticsData'
  StudentStatsResponse:
    description: 'Statistics for a single student'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/StudentStatisticsData'
  AdminIdListResponse:
    description: 'A list of user identifiers'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                type: string
                format: guid
                example: 3A584DA0-564D-4E65-8284-DBA43566B03A
  ReferenceSolutionListResponse:
    description: 'A list of reference solutions'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/ReferenceExerciseSolution'
  ReferenceSolutionResponse:
    description: 'A reference solution object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/ReferenceExerciseSolution'
  SubmissionFailureResponse:
    description: 'A submission failure object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/SubmissionFailure'
  SubmissionFailureListResponse:
    description: 'A list of submission failure objects'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/SubmissionFailure'
  UserSettingsResponse:
    description: 'User settings object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/UserSettings'
  RuntimeEnvironmentListResponse:
    description: 'A list of runtime environment objects'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/RuntimeEnvironment'
  LimitsResponse:
    description: 'A list of resource limits'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            environments:
              type: array
              items:
                type: object
                properties: {  }
  SuccessResponse:
    description: Success
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: string
              example: OK
  DeleteResponse:
    description: OK
    schema:
      type: object
      properties:
        code:
          type: integer
          required: true
        success:
          type: boolean
          required: true
        payload:
          type: string
          example: OK
  UnauthorizedResponse:
    description: 'Login required'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            msg:
              type: string
      example:
        msg: 'Forbidden Request - Login required'
        code: 401
        success: false
  ForbiddenResponse:
    description: 'Forbidden Request - Access denied'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            msg:
              type: string
      example:
        msg: 'Forbidden Request - Access denied'
        code: 403
        success: false
  BadRequestResponse:
    description: 'Bad Request'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            msg:
              type: string
      example:
        msg: 'Bad Request - Missing required POST field'
        code: 400
        success: false
  ValidationResponse:
    description: 'Validation results'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: object
              properties:
                versionIsUpToDate:
                  type: boolean
                  example: false
  UserGroupsResponse:
    description: 'Group data for a user'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: object
              properties:
                student:
                  type: array
                  items: { $ref: '#/definitions/Group' }
                supervisor:
                  type: array
                  items: { $ref: '#/definitions/Group' }
                stats:
                  type: array
                  items: { $ref: '#/definitions/GroupStats' }
  ReferenceSolutionEvaluationsReponse:
    description: 'Details of an evaluation of a reference solution'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: object
              properties:
                referenceSolution:
                  $ref: '#/definitions/ReferenceExerciseSolution'
                evaluations:
                  type: array
                  items: { $ref: '#/definitions/ReferenceSolutionEvaluation' }
                errors:
                  type: array
                  items:
                    description: "Hardware group identifiers"
                    type: string
  ExerciseReferenceSolutionEvaluationsReponse:
    description: 'Details of evaluation of all reference solutions to an exercise'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                type: object
                properties:
                  referenceSolution:
                    $ref: '#/definitions/ReferenceExerciseSolution'
                  evaluations:
                    type: array
                    items: { $ref: '#/definitions/ReferenceSolutionEvaluation' }
                  errors:
                    type: array
                    items:
                      description: "Hardware group identifiers"
                      type: string
definitions:
  DefaultResponseParams:
    type: object
    properties:
      code:
        type: integer
        example: 200
      success:
        type: boolean
        example: true
  Assignment:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: BD596E89-86B6-4A2B-A880-45E27718E354
      name:
        type: string
        example: 'Convex hull'
      isPublic:
        type: boolean
        example: true
      groupId:
        $ref: '#/definitions/Group/properties/id'
      deadline:
        type: object
        properties:
          first:
            type: integer
            example: 1530195253
          second:
            type: integer
            example: 1627097523
      submissionsCountLimit:
        type: integer
        example: 50
      canReceiveSubmissions:
        type: boolean
        example: false
      allowSecondDeadline:
        type: boolean
        example: false
      maxPoints:
        type: object
        properties:
          first:
            type: integer
            example: 0
          second:
            type: integer
            example: 0
      scoreConfig:
        type: string
        example: ''
      firstDeadline:
        type: integer
        example: 1538353925
      secondDeadline:
        type: integer
        example: 1628652475
      maxPointsBeforeFirstDeadline:
        type: integer
        example: 0
      maxPointsBeforeSecondDeadline:
        type: integer
        example: 0
      solutionRuntimeConfigs:
        type: array
        items:
          type: string
          example: D9FAB341-4562-459B-868A-C5872D2DE0BF
      canViewLimitRatios:
        type: boolean
        example: false
      version:
        type: integer
        example: 1
      localizedTexts:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              example: E52E38F5-9EE0-47E3-8F28-5DEAEDD9274F
            locale:
              type: string
              example: en
            text:
              type: string
              example: 'A true classic'
            createdAt:
              type: integer
              example: 1491913711
            createdFrom:
              type: string
              example: ''
      runtimeEnvironmentsIds:
        type: array
        items:
          type: string
          example: c-gcc-linux
      isBonus:
        type: boolean
        example: false
      pointsPercentualThreshold:
        type: double
        example: 0.66
      createdAt:
        type: integer
        example: 1491913711
  Group:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: 5330C80C-5EDF-4D0C-B6D8-09B95BE12566
      name:
        type: string
        example: 'Frankenstein University, Atlantida'
      description:
        type: string
        example: 'First underwater IT university for fish and shrimps.'
      adminId:
        type: string
        format: guid
        example: E6E6F998-51A8-495C-907B-A9706A56B562
      admins:
        type: array
        items:
          type: string
          format: guid
          example: E6E6F998-51A8-495C-907B-A9706A56B562
      supervisors:
        type: array
        items:
          type: string
          format: guid
          example: E6E6F998-51A8-495C-907B-A9706A56B562
      students:
        type: array
        items:
          type: string
          format: guid
          example: E737BDDD-C5EA-46E6-8358-4712B6E6BF25
      instanceId:
        type: string
        format: guid
        example: A7FB7C1A-B414-4E6D-8FB5-086A7F981D8B
      hasValidLicence:
        type: boolean
        example: true
      parentGroupId:
        type: string
        format: guid
        example: 0cf3b440-5531-3122-b091-4de13f15652d
      assignments:
        type: object
        items:
          type: string
          format: guid
          example: 3E2A7CE3-AA73-4D32-9B7A-66C7E97AC401
        properties:
          all:
            type: array
            items:
              type: string
              example: 62D87D5E-7D81-46D4-9D0C-3C1E6C0C722D
          public:
            type: array
            items:
              type: string
              example: 62D87D5E-7D81-46D4-9D0C-3C1E6C0C722D
      publicStats:
        type: boolean
        example: false
      isPublic:
        type: boolean
        example: true
      childGroups:
        type: object
        items:
          type: string
          example: B2160429-C3C9-42D5-A026-00BB5ADF3FB5
        properties:
          all:
            type: array
            items:
              type: string
              example: 1A867E09-46A7-4A44-A9A1-22140392FF41
          public:
            type: array
            items:
              type: string
              example: 1A867E09-46A7-4A44-A9A1-22140392FF41
      threshold:
        type: float
        example: 0.75
      externalId:
        type: string
        example: ''
  Instance:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: A7FB7C1A-B414-4E6D-8FB5-086A7F981D8B
      name:
        type: string
        example: 'Frankenstein University, Atlantida'
      description:
        type: string
        example: 'First underwater IT university for fish and shrimps.'
      hasValidLicence:
        type: boolean
        example: true
      isOpen:
        type: boolean
        example: true
      createdAt:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1491913710
      updatedAt:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1491913710
      isAllowed:
        type: boolean
        example: true
      admin:
        type: string
        format: guid
        example: 90B9949A-2AFA-4D62-A662-840DB6B79AF4
      topLevelGroups:
        type: array
        items:
          type: string
          example: 336B1872-7B09-4A43-A5C0-2E2749F8E9F3
      deletedAt:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1479893977
      rootGroupId:
        type: string
        example: 5330C80C-5EDF-4D0C-B6D8-09B95BE12566
  Licence:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: 5A7770A0-9556-4F65-9022-926E0946736C
      note:
        type: string
        example: 'Year licence for the first Fish University'
      isValid:
        type: boolean
        example: true
      validUntil:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1527600935
  User:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: 90B9949A-2AFA-4D62-A662-840DB6B79AF4
      fullName:
        type: string
        example: 'Harmony Erdman'
      name:
        type: object
        properties:
          degreesBeforeName:
            type: string
            example: ''
          firstName:
            type: string
            example: Harmony
          lastName:
            type: string
            example: Erdman
          degreesAfterName:
            type: string
            example: ''
      instanceId:
        type: string
        format: guid
        example: A7FB7C1A-B414-4E6D-8FB5-086A7F981D8B
      avatarUrl:
        type: string
        example: 'https://secure.gravatar.com/avatar/64e1b8d34f425d19e1ee2ea7236d3028.png?s=200&amp;d=retro&amp;r=g'
      isVerified:
        description: 'Is the user verified by email?'
        type: boolean
        example: false
      role:
        type: string
        format: guid
        example: superadmin
      groups:
        type: object
        properties:
          studentOf:
            type: array
            items:
              type: string
              example: aa07c86a-df37-327b-8bd9-b97fdfd66161
          supervisorOf:
            type: array
            items:
              type: string
              example: 161FCAD5-E54F-4424-8EAF-362193D697CC
      settings:
        type: object
        properties:
          darkTheme:
            type: boolean
            example: true
          vimMode:
            type: boolean
            example: false
          defaultLanguage:
            type: string
            example: en
          openedSidebar:
            type: boolean
            example: true
  Exercise:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: CC79B359-D6D4-415B-895D-C35A2892F4BE
      name:
        type: string
        example: 'Convex hull'
      version:
        type: integer
        example: 1
      authorId:
        type: string
        format: guid
        example: 90B9949A-2AFA-4D62-A662-840DB6B79AF4
      forkedFrom:
        type: string
        format: guid
        example: ed6eef24-6b1f-3781-b9d3-625d82830ec1
      description:
        type: string
        example: ''
      difficulty:
        type: string
        example: moderate
      isPublic:
        type: boolean
        example: true
      createdAt:
        type: integer
        example: 1491913711
      updatedAt:
        type: integer
        example: 1491913711
      localizedTexts:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              example: E52E38F5-9EE0-47E3-8F28-5DEAEDD9274F
            locale:
              type: string
              example: en
            text:
              type: string
              example: 'A true classic'
            createdAt:
              type: integer
              example: 1491913711
            createdFrom:
              type: string
              example: ''
      runtimeConfigs:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              example: 2A9D62F7-DC5B-4E11-9C6E-F671E44E6F29
            name:
              type: string
              example: 'A demo runtime config'
            createdAt:
              type: integer
              example: 1491913711
            jobConfig:
              type: boolean
              example: false
            isValid:
              type: boolean
              example: false
            runtimeEnvironmentId:
              type: string
              example: c-gcc-linux
            createdFrom:
              type: string
              example: ''
      additionalFiles:
        type: array
        items: {  }
  Role:
    type: string
    example: student
  Resource:
    type: string
    example: assignments
  Permission:
    type: object
    properties:
      role:
        type: string
        format: guid
        example: superadmin
      resource:
        type: string
        format: guid
        example: assignments
      action:
        type: string
        example: '*'
      isAllowed:
        type: integer
        example: 1
  LocalizedAssignmentParam:
    type: object
    properties:
      locale:
        type: string
        example: en_US
      name:
        type: string
        example: 'Your assignment'
      description:
        type: string
        example: 'This is your assignment!'
  CommentThread:
    type: object
    properties:
      id:
        type: string
        example: mainThread
      comments:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              example: B5A58DC6-754B-4B71-92EA-A26BF4EFE791
            commentThreadId:
              type: string
              example: mainThread
            user:
              type: object
              properties:
                id:
                  type: string
                  example: E7298F1D-61FF-4ACA-A8A7-EBBD33D99BE3
                name:
                  type: string
                  example: 'Emanuel Konopelski'
                avatarUrl:
                  type: string
                  example: 'https://secure.gravatar.com/avatar/111d68d06e2d317b5a59c2c6c5bad808.png?s=200&amp;d=retro&amp;r=g'
            postedAt:
              type: integer
              example: 1491913711
            isPrivate:
              type: boolean
              example: true
            text:
              type: string
              example: 'comment text'
  Comment:
    type: object
    properties:
      id:
        type: string
        example: B5A58DC6-754B-4B71-92EA-A26BF4EFE791
      commentThreadId:
        type: string
        example: mainThread
      user:
        type: object
        properties:
          id:
            type: string
            example: E7298F1D-61FF-4ACA-A8A7-EBBD33D99BE3
          name:
            type: string
            example: 'Emanuel Konopelski'
          avatarUrl:
            type: string
            example: 'https://secure.gravatar.com/avatar/111d68d06e2d317b5a59c2c6c5bad808.png?s=200&amp;d=retro&amp;r=g'
      postedAt:
        type: integer
        example: 1491913711
      isPrivate:
        type: boolean
        example: true
      text:
        type: string
        example: 'comment text'
  RuntimeEnvironment:
    type: object
    properties:
      id:
        type: string
        example: c-gcc-linux
      name:
        type: string
        example: 'C (GCC)'
      language:
        type: string
        example: C
      extensions:
[...]
