swagger: '2.0'
host: recodex.projekty.ms.mff.cuni.cz
basePath: /v1
consumes:
  - application/json
produces:
  - application/json
schemes:
  - https
securityDefinitions:
  WebToken:
    type: apiKey
    in: header
    name: Authorization
  BackendAuth:
    type: basic
info:
  title: 'ReCodEx REST API'
  version: v1
  description: 'Provides access to user/group management and submission evaluation'
tags:
  -
    name: exercises
    description: 'Endpoint for exercise manipulation'
  -
    name: broker-reports
    description: 'Endpoints used by the backend to notify the frontend of errors and changes in job status'
  -
    name: login
    description: 'Endpoints used to log a user in'
  -
    name: comments
    description: 'Endpoints for comment manipulation'
  -
    name: assignments
    description: 'Endpoints for exercise assignment manipulation'
  -
    name: groups
    description: 'Endpoints for group manipulation'
  -
    name: instances
    description: 'Endpoints for instance manipulation'
  -
    name: reference-exercise-solutions
    description: 'Endpoints for manipulation of reference solutions of exercises'
  -
    name: submissions
    description: 'Endpoints for manipulation of solution submissions'
  -
    name: uploaded-files
    description: 'Endpoints for management of uploaded files'
  -
    name: users
    description: 'User management endpoints'
  -
    name: forgotten-password
    description: 'Endpoints associated with resetting forgotten passwords'
paths:
  /login:
    post:
      description: 'Log in using user credentials'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'User''s E-mail'
          format: email
        -
          name: password
          required: false
          type: string
          in: formData
          description: Password
      responses:
        200: {  }
      tags:
        - login
  /login/refresh:
    post:
      description: 'Refresh the access token of current user'
      parameters: [ ]
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - login
      security:
        WebToken: [ ]
  '/login/{serviceId}':
    post:
      description: 'Log in using an external authentication service'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'User name'
        -
          name: password
          required: false
          type: string
          in: formData
          description: Password
        -
          name: serviceId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
      tags:
        - login
  '/comments/{id}':
    get:
      description: 'Get a comment thread'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        WebToken: [ ]
    post:
      description: 'Add a comment to a thread'
      parameters:
        -
          name: text
          required: false
          type: string
          in: formData
          description: 'Text of the comment'
          minLength: 1
        -
          name: isPrivate
          required: false
          type: string
          in: formData
          description: 'True if the comment is private'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        WebToken: [ ]
  '/comments/{threadId}/comment/{commentId}/toggle':
    post:
      description: 'Make a private comment public or vice versa'
      parameters:
        -
          name: threadId
          required: true
          in: path
          type: string
          description: ''
        -
          name: commentId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        WebToken: [ ]
  /broker-reports/error:
    post:
      tags:
        - broker-reports
      description: 'Announce a backend error that is not related to any job (meant to be called by the backend)'
      parameters:
        -
          name: message
          required: false
          type: string
          in: formData
          description: 'A textual description of the error'
      responses:
        200: {  }
      security:
        BackendAuth: [ ]
  '/broker-reports/job-status/{jobId}':
    post:
      tags:
        - broker-reports
      description: 'Update the status of a job (meant to be called by the backend)'
      parameters:
        -
          name: status
          required: false
          type: string
          in: formData
          description: 'The new status of the job'
        -
          name: message
          required: false
          type: string
          in: formData
          description: 'A textual explanation of the status change'
        -
          name: jobId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
      security:
        BackendAuth: [ ]
  /exercises:
    get:
      description: 'Get a list of exercises with an optional filter'
      parameters:
        -
          name: search
          required: false
          in: query
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - exercises
      security:
        WebToken: [ ]
  '/exercises/{id}':
    get:
      description: 'Get details of an exercise'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - exercises
      security:
        WebToken: [ ]
  /exercise-assignments:
    get:
      tags:
        - assignments
      description: 'Get a list of all assignments'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/AssignmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Assign an exercise to a group'
      parameters:
        -
          name: exerciseId
          required: false
          type: string
          in: formData
          description: 'Identifier of the exercise'
        -
          name: groupId
          required: false
          type: string
          format: uuid
          in: formData
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
  '/exercise-assignments/{id}':
    get:
      tags:
        - assignments
      description: 'Get details of an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Update details of an assignment'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the assignment'
          minLength: 2
        -
          name: isPublic
          required: false
          type: boolean
          in: formData
          description: 'Is the assignment ready to be displayed to students?'
        -
          name: description
          required: false
          type: string
          in: formData
          description: 'A description of the assignment'
        -
          name: firstDeadline
          required: false
          type: integer
          in: formData
          description: 'First deadline for submission of the assignment'
        -
          name: scoreConfig
          required: false
          type: string
          in: formData
          description: 'A configuration of the score calculator (the exact format depends on the calculator assigned to the exercise)'
        -
          name: allowSecondDeadline
          required: false
          type: boolean
          in: formData
          description: 'Should there be a second deadline for students who didn''t make the first one?'
        -
          name: secondDeadline
          required: false
          type: integer
          in: formData
          description: 'A second deadline for submission of the assignment (with different point award)'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: maxPointsBeforeFirstDeadline
          required: false
          type: integer
          in: formData
          description: 'A maximum of points that can be awarded for a submission before first deadline'
        -
          name: submissionsCountLimit
          required: false
          type: integer
          in: formData
          description: 'A maximum amount of submissions by a student for the assignment'
        -
          name: maxPointsBeforeSecondDeadline
          required: false
          type: integer
          in: formData
          description: 'A maximum of points that can be awarded for a late submission'
        -
          name: localizedAssignments
          required: false
          type: array
          items:
            $ref: '#/definitions/LocalizedAssignmentParam'
          in: formData
          description: 'A description of the assignment'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
    delete:
      tags:
        - assignments
      description: 'Delete an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
  '/exercise-assignments/{id}/can-submit':
    get:
      tags:
        - assignments
      description: 'Check if the current user can submit solutions to the assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
  '/exercise-assignments/{id}/users/{userId}/submissions':
    get:
      tags:
        - assignments
      description: 'Get a list of submitted solutions of the assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
  '/exercise-assignments/{id}/submit':
    post:
      tags:
        - assignments
      description: 'Submit a solution of the assignment'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'A private note by the author of the solution'
        -
          name: files
          required: false
          type: array
          items:
            type: file
          in: formData
          description: 'Submitted files'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: runtimeConfigurationId
          required: false
          type: string
          format: guid
          in: formData
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
  '/exercise-assignments/{id}/limits/{hardwareGroup}':
    get:
      tags:
        - assignments
      description: 'Get a list of resource limits for an assignment and a hardware group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
        -
          name: hardwareGroup
          required: true
          in: path
          type: string
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Set resource limits for an assignment and a hardware group'
      parameters:
        -
          name: limits
          required: false
          type: array
          items:
            type: string # TODO
          in: formData
          description: 'A list of resource limits'
        -
          name: id
          required: true
          in: path
          type: string
        -
          name: hardwareGroup
          required: true
          in: path
          type: string
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        WebToken: [ ]
  /groups:
    get:
      description: 'Get a list of all groups'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
    post:
      description: 'Create a new group'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: ''
          minLength: 2
        -
          name: description
          required: false
          type: string
          in: formData
          description: ''
        -
          name: instanceId
          required: false
          type: string
          format: guid
          in: formData
          description: ''
          minLength: 36
          maxLength: 36
        -
          name: parentGroupId
          required: false
          type: string
          format: guid
          in: formData
          description: ''
          minLength: 36
          maxLength: 36
        -
          name: publicStats
          required: false
          type: boolean
          in: formData
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  /groups/validate-add-group-data:
    post:
      description: 'Validate group creation data'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the group'
        -
          name: instanceId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the instance where the group belongs'
        -
          name: parentGroupId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the parent group'
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}':
    get:
      description: 'Get details of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
    delete:
      description: 'Delete a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/subgroups':
    get:
      description: 'Get a list of subgroups of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/members':
    get:
      description: 'Get a list of members of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/students':
    get:
      description: 'Get a list of students in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/students/stats':
    get:
      description: 'Get statistics of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/students/{userId}':
    get:
      description: 'Get statistics of a single student in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
    post:
      description: 'Add a student to a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
    delete:
      description: 'Remove a student from a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/students/{userId}/best-results':
    get:
      description: 'Get the best solution of an assignment for a group submitted by a student'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/supervisors':
    get:
      description: 'Get a list of supervisors in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/supervisors/{userId}':
    post:
      description: 'Add a supervisor to a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
    delete:
      description: 'Remove a supervisor from a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: userId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/admin':
    get:
      description: 'Get identifiers of administrators of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
    post:
      description: 'Make a user an administrator of a group'
      parameters:
        -
          name: userId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of a user to be made administrator'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  '/groups/{id}/assignments':
    get:
      description: 'Get all exercise assignments for a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/AssignmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        WebToken: [ ]
  /instances:
    get:
      description: 'Get a list of all instances'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/InstanceListResponse'
      tags:
        - instances
    post:
      description: 'Create a new instance'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the instance'
          minLength: 2
        -
          name: description
          required: false
          type: string
          in: formData
          description: 'Description of the instance'
        -
          name: isOpen
          required: false
          type: boolean
          in: formData
          description: 'Should the instance be open for registration?'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        WebToken: [ ]
  '/instances/{id}':
    get:
      description: 'Get details of an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
      tags:
        - instances
    delete:
      description: 'Delete an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        WebToken: [ ]
    post:
      description: 'Update an instance'
      parameters:
        -
          name: name
          required: false
          type: string
          minLength: 2
          in: formData
          description: 'Name of the instance'
        -
          name: description
          required: false
          in: formData
          description: 'Description of the instance'
        -
          name: isOpen
          required: false
          type: boolean
          in: formData
          description: 'Should the instance be open for registration?'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        401: {  }
        403: {  }
      security:
        WebToken: [ ]
      tags:
        - instances
  '/instances/{id}/groups':
    get:
      description: 'Get a list of groups in an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        WebToken: [ ]
  '/instances/{id}/users':
    get:
      description: 'Get a list of users registered in an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
        -
          name: search
          required: false
          in: query
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        WebToken: [ ]
  '/instances/{id}/licences':
    get:
      description: 'Get a list of licenses associated with an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/LicenceListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        WebToken: [ ]
    post:
      description: 'Create a new license for an instance'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'A note for users or administrators'
          minLength: 2
        -
          name: validUntil
          required: false
          type: string
          in: formData
          description: 'Expiration date of the license'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/LicenceResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        WebToken: [ ]
  '/instances/{id}/licences/{licenceId}':
    put:
      tags:
        - instances
    delete:
      tags:
        - instances
  '/reference-solutions/{id}':
    get:
      description: 'Get reference solutions for an exercise'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: ''
        -
          name: files
          required: false
          type: string
          in: formData
          description: ''
        -
          name: hwGroup
          required: false
          type: string
          in: formData
          description: ''
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
      tags:
        - reference-exercise-solutions
  '/reference-solutions/{exerciseId}/evaluate/{id}':
    post:
      description: 'Evaluate reference solutions to an exercise for a hardware group'
      parameters:
        -
          name: hwGroup
          required: false
          type: string
          in: formData
          description: 'Identififer of a hardware group'
        -
          name: exerciseId
          required: true
          in: path
          type: string
          description: ''
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
      tags:
        - reference-exercise-solutions
  /submissions:
    get:
      description: 'Get a list of all submissions, ever'
      parameters: [ ]
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - submissions
      security:
        WebToken: [ ]
  '/submissions/{id}':
    get:
      description: 'Get information about the evaluation of a submission'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - submissions
      security:
        WebToken: [ ]
  /uploaded-files:
    post:
      description: 'Upload a file'
      parameters: [ ]
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        WebToken: [ ]
  '/uploaded-files/{id}':
    get:
      description: 'Get details of a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        WebToken: [ ]
  '/uploaded-files/{id}/download':
    get:
      description: 'Download a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        WebToken: [ ]
  '/uploaded-files/{id}/content':
    get:
      description: 'Get the contents of a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        WebToken: [ ]
  /users:
    get:
      description: 'Get a list of all users'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - users
    post:
      description: 'Create a user account'
      parameters:
        -
          name: email
          required: false
          type: string
          in: formData
          description: 'An email that will serve as a login name'
          format: email
        -
          name: firstName
          required: false
          type: string
          in: formData
          description: 'First name'
          minLength: 2
        -
          name: lastName
          required: false
          type: string
          in: formData
          description: 'Last name'
          minLength: 2
        -
          name: password
          required: false
          type: string
          in: formData
          description: 'A password for authentication'
          minLength: 1
        -
          name: instanceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the instance to register in'
          minLength: 1
        -
          name: degreesBeforeName
          required: false
          type: string
          minLength: 1
          in: formData
          description: 'Degrees which is placed before user name'
        -
          name: degreesAfterName
          required: false
          type: string
          minLength: 1
          in: formData
          description: 'Degrees which is placed after user name'
      responses:
        200:
          $ref: '#/responses/UserResponse'
      tags:
        - users
  /users/ext:
    post:
      description: 'Create an account authenticated with an external service'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'Login name'
          minLength: 2
        -
          name: password
          required: false
          type: string
          in: formData
          description: 'Authentication password'
          minLength: 1
        -
          name: instanceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the instance to register in'
          minLength: 1
        -
          name: serviceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the authentication service'
          minLength: 1
      responses:
        200:
          $ref: '#/responses/UserResponse'
      tags:
        - users
  /users/validate-registration-data:
    post:
      description: 'Check if the registered E-mail isn''t already used and if the password is strong enough'
      parameters:
        -
          name: email
          required: false
          type: string
          format: email
          in: formData
          description: 'E-mail address (login name)'
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'Authentication password'
      responses:
        200: {  }
      tags:
        - users
  '/users/{id}':
    get:
      description: 'Get details of a user account'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/UserResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        WebToken: [ ]
  '/users/{id}/groups':
    get:
      description: ''
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        WebToken: [ ]
  '/users/{id}/instances':
    get:
      description: 'Get a list of instances where a user is registered'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/InstanceListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        WebToken: [ ]
  '/users/{id}/exercises':
    get:
      description: 'Get a list of exercises authored by a user'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        WebToken: [ ]
  /users/detail:
    post:
      description: 'Update the profile associated with a user account'
      parameters:
        -
          name: email
          required: false
          type: string
          in: formData
          description: 'E-mail address'
          format: email
        -
          name: firstName
          required: false
          type: string
          in: formData
          description: 'First name'
          minLength: 2
        -
          name: lastName
          required: false
          type: string
          in: formData
          description: 'Last name'
          minLength: 2
        -
          name: degreesBeforeName
          required: false
          type: string
          in: formData
          description: 'Degrees before name'
          minLength: 1
        -
          name: degreesAfterName
          required: false
          type: string
          in: formData
          description: 'Degrees after name'
          minLength: 1
        -
          name: oldPassword
          required: false
          type: string
          format: password
          minLength: 1
          in: formData
          description: 'Old password of current user'
        -
          name: password
          required: false
          type: string
          format: password
          minLength: 1
          in: formData
          description: 'New password of current user'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        WebToken: [ ]
  /forgotten-password:
    post:
      description: 'Request a password reset (user will receive an e-mail that prompts them to reset their password)'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'An identifier of the user whose password should be reset'
          minLength: 2
      responses:
        200: {  }
      tags:
        - forgotten-password
  /forgotten-password/change:
    post:
      description: 'Change the user''s password'
      parameters:
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'The new password'
          minLength: 2
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - forgotten-password
      security:
        WebToken: [ ]
  /forgotten-password/validate-password-strength:
    post:
      description: 'Check if a password is strong enough'
      parameters:
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'The password to be checked'
      responses:
        200: {  }
      tags:
        - forgotten-password
  '/exercise-assignments/{id}/limits':
    get:
      description: 'Get a list of resource limits for an assignment and a hardware group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        401: {  }
        403: {  }
      security:
        WebToken: [ ]
      tags:
        - assignments
    post:
      description: 'Set resource limits for an assignment and a hardware group'
      parameters:
        -
          name: limits
          required: false
          type: array
          items:
            type: string # TODO
          in: formData
          description: 'A list of resource limits'
        -
          name: id
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        401: {  }
        403: {  }
      security:
        WebToken: [ ]
      tags:
        - assignments
  '/instances/licences/{licenceId}':
    post:
      description: 'Update existing license for an instance'
      parameters:
        -
          name: note
          required: false
          type: string
          minLength: 2
          in: formData
          description: 'A note for users or administrators'
        -
          name: validUntil
          required: false
          type: string
          in: formData
          description: 'Expiration date of the license'
        -
          name: isValid
          required: false
          type: boolean
          in: formData
          description: 'Administrator switch to toggle licence validity'
        -
          name: licenceId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        401: {  }
        403: {  }
      security:
        WebToken: [ ]
      tags:
        - instances
    delete:
      description: 'Remove existing license for an instance'
      parameters:
        -
          name: licenceId
          required: true
          in: path
          type: string
          description: ''
      responses:
        200: {  }
        401: {  }
        403: {  }
      security:
        WebToken: [ ]
      tags:
        - instances
responses:
  BooleanResponse:
    description: 'A boolean value'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: boolean
              example: true
  InstanceResponse:
    description: 'An instance object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Instance'
  InstanceListResponse:
    description: 'A list of instances'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Instance'
  LicenceResponse:
    description: 'A licence object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Licence'
  LicenceListResponse:
    description: 'A list of licences'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Licence'
  UserResponse:
    description: 'Details of a user'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/User'
  UserListResponse:
    description: 'A list of users'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/User'
  GroupResponse:
    description: 'A group object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Group'
  GroupListResponse:
    description: 'A list of groups'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Group'
  ExerciseResponse:
    description: 'An exercise object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Exercise'
  ExerciseListResponse:
    description: 'A list of exercises'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Exercise'
  AssignmentListResponse:
    description: 'A list of assignments'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: array
              items:
                $ref: '#/definitions/Assignment'
  AssignmentResponse:
    description: 'An assignment object'
    schema:
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              $ref: '#/definitions/Assignment'
  SuccessResponse:
    description: Success
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            payload:
              type: string
              example: OK
  CreatedResponseParams:
    properties:
      code:
        type: integer
        required: true
        example: 201
      success:
        type: boolean
        required: true
        example: true
  DeleteResponse:
    description: OK
    schema:
      properties:
        code:
          type: integer
          required: true
        success:
          type: boolean
          required: true
        payload:
          type: string
          example: OK
      example:
        code: 200
        success: true
        payload: {  }
  UnauthorizedResponse:
    description: 'Login required'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            msg:
              type: string
      example:
        msg: 'Forbidden Request - Login required'
        code: 401
        success: false
  ForbiddenResponse:
    description: 'Forbidden Request - Access denied'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            msg:
              type: string
      example:
        msg: 'Forbidden Request - Access denied'
        code: 403
        success: false
  BadRequestResponse:
    description: 'Bad Request'
    schema:
      type: object
      allOf:
        -
          $ref: '#/definitions/DefaultResponseParams'
        -
          type: object
          properties:
            msg:
              type: string
      example:
        msg: 'Bad Request - Missing required POST field'
        code: 400
        success: false
definitions:
  DefaultResponseParams:
    type: object
    properties:
      code:
        type: integer
        example: 200
      success:
        type: boolean
        example: true
  Assignment:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: 69f0f87c-3158-3a33-941f-e4b1ec4a0a93
      name:
        type: string
        example: 'Convex hull'
      isPublic:
        type: boolean
        example: true
      groupId:
        $ref: '#/definitions/Group/properties/id'
      deadline:
        type: object
        properties:
          first:
            type: integer
            example: 1530195253
          second:
            type: integer
            example: 1627097523
      submissionsCountLimit:
        type: integer
        example: 50
      canReceiveSubmissions:
        type: boolean
        example: false
      allowSecondDeadline:
        type: boolean
        example: false
      maxPoints:
        type: object
        properties:
          first:
            type: integer
            example: 0
          second:
            type: integer
            example: 0
      scoreConfig:
        type: string
        example: ''
      localizedAssignments:
        type: array
        items: {  }
      firstDeadline:
        type: integer
        example: 1522724566
      secondDeadline:
        type: integer
        example: 1600264122
      maxPointsBeforeFirstDeadline:
        type: integer
        example: 0
      maxPointsBeforeSecondDeadline:
        type: integer
        example: 0
      solutionRuntimeConfigs:
        type: array
        items:
          type: string
          example: 1394432e-f41e-315b-a3c3-456c2f702765
  Group:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: aa07c86a-df37-327b-8bd9-b97fdfd66161
      name:
        type: string
        example: 'Demo group'
      description:
        type: string
        example: 'A group meant solely for the purpose of demonstration'
      adminId:
        type: string
        format: guid
        example: 20160692-b8e3-3be2-9ead-f99a706acbb1
      admins:
        type: array
        items:
          type: string
          format: guid
          example: 20160692-b8e3-3be2-9ead-f99a706acbb1
      supervisors:
        type: array
        items:
          type: string
          format: guid
          example: 20160692-b8e3-3be2-9ead-f99a706acbb1
      students:
        type: array
        items:
          type: string
          format: guid
          example: 67021098-abc0-32c4-8889-060a2d8cb536
      instanceId:
        type: string
        format: guid
        example: 54a4eed2-9608-3fca-ac16-bdb51b5bc348
      hasValidLicence:
        type: boolean
        example: true
      parentGroupId:
        type: string
        format: guid
        example: 0cf3b440-5531-3122-b091-4de13f15652d
      childGroups:
        type: array
        items: {  }
      assignments:
        type: array
        items:
          type: string
          format: guid
          example: 69f0f87c-3158-3a33-941f-e4b1ec4a0a93
      publicStats:
        type: boolean
        example: true
  Instance:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: 54a4eed2-9608-3fca-ac16-bdb51b5bc348
      name:
        type: string
        example: 'Frankenstein University, Atlantida'
      description:
        type: string
        example: 'First underwater IT university for fish and shrimps.'
      hasValidLicence:
        type: boolean
        example: true
      isOpen:
        type: boolean
        example: true
      createdAt:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1478601850
      updatedAt:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1478601850
      isAllowed:
        type: boolean
        example: true
      admin:
        type: string
        format: guid
        example: 6c241f8f-1a0a-34dc-8042-591352a764ea
      topLevelGroups:
        type: array
        items:
          type: string
          example: aa07c86a-df37-327b-8bd9-b97fdfd66161
  Licence:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: b0b8ab07-e4b1-33d1-b7e0-43442c3e01fe
      note:
        type: string
        example: 'Year licence for the first Fish University'
      isValid:
        type: boolean
        example: true
      validUntil:
        type: integer
        format: int64
        description: 'UNIX timestamp'
        example: 1606243153
  User:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: 58be5bd7-2453-3d08-9e4f-5d22158b0230
      fullName:
        type: string
        example: 'Zora Steuber'
      name:
        type: object
        properties:
          degreesBeforeName:
            type: string
            example: ''
          firstName:
            type: string
            example: Zora
          lastName:
            type: string
            example: Steuber
          degreesAfterName:
            type: string
            example: ''
      instanceId:
        type: string
        format: guid
        example: 54a4eed2-9608-3fca-ac16-bdb51b5bc348
      avatarUrl:
        type: string
        example: 'https://secure.gravatar.com/avatar/ab53a2911ddf9b4817ac01ddcd3d975f.png?s=200&amp;d=retro&amp;r=g'
      isVerified:
        description: 'Is the user verified by email?'
        type: boolean
        example: false
      role:
        type: string
        format: guid
        example: 4d7f7706-355a-3c0f-93df-c5b36be501cc
      groups:
        type: object
        properties:
          studentOf:
            type: array
            items:
              type: string
              example: aa07c86a-df37-327b-8bd9-b97fdfd66161
          supervisorOf:
            type: array
            items:
              type: string
              example: aa07c86a-df37-327b-8bd9-b97fdfd66161
  Exercise:
    type: object
    properties:
      id:
        type: string
        format: guid
        example: b9d85cfa-3c46-33c1-8750-53be1c281111
      name:
        type: string
        example: 'aloha exercise'
      version:
        type: integer
        example: 2
      authorId:
        type: string
        format: guid
        example: 20160692-b8e3-3be2-9ead-f99a706acbb1
      forkedFrom:
        type: string
        format: guid
        example: ed6eef24-6b1f-3781-b9d3-625d82830ec1
      description:
        type: string
        example: 'A true classic'
      difficulty:
        type: string
        example: easy
      createdAt:
        type: object
        properties:
          date:
            type: string
            example: '2016-11-08 11:44:10.000000'
          timezone_type:
            type: integer
            example: 3
          timezone:
            type: string
            example: Europe/Prague
      updatedAt:
        type: object
        properties:
          date:
            type: string
            example: '2016-11-08 11:44:10.000000'
          timezone_type:
            type: integer
            example: 3
          timezone:
            type: string
            example: Europe/Prague
      localizedAssignments:
        type: array
        items: {  }
      solutionRuntimeConfigs:
        type: array
        items:
          type: string
          example: 1394432e-f41e-315b-a3c3-456c2f702765
  Role:
    type: string
    example: 524f4d0a-5db7-359a-8544-fbf177687fce
  Resource:
    type: string
    example: 311b982f-9e9e-3f81-8ef7-952744df4c82
  Permission:
    type: object
    properties:
      role:
        type: string
        format: guid
        example: 758d24cc-3be3-3bcd-96a7-1dbc0077d638
      resource:
        type: string
        format: guid
        example: b89af1b9-13a6-3fe6-bfea-29f2b6a9eef5
      action:
        type: string
        example: update
      isAllowed:
        type: integer
        example: 1
  LocalizedAssignmentParam:
    type: object
    properties:
      locale:
        type: string
        example: en_US
      name:
        type: string
        example: 'Your assignment'
      description:
        type: string
        example: 'This is your assignment!'
  CommentThread:
    type: object
    properties:
      id:
        type: string
        example: 69755e0c-c2d6-3f73-a8a8-421b42bd6d83
      comments:
        type: array
        items:
          type: object
          properties: {  }
  Comment:
    type: object
    properties:
      id:
        type: string
        example: ea698fac-33e1-38b8-908a-d20729a2d314
      commentThreadId:
        type: string
        example: 2ebb1cff-2101-37f5-9cbb-64a1bc0aab92
      user:
        type: object
        properties:
          id:
            type: string
            example: eca95c9b-78e2-3237-870e-beb09a9e59db
          name:
            type: string
            example: 'Zetta Stroman'
          avatarUrl:
            type: string
            example: 'https://secure.gravatar.com/avatar/111d68d06e2d317b5a59c2c6c5bad808.png?s=200&amp;d=retro&amp;r=g'
      postedAt:
        type: integer
        example: 1478601851
      isPrivate:
        type: boolean
        example: false
      text:
        type: string
        example: 'public text in main thread'
  RuntimeEnvironment:
    type: object
    properties:
      id:
        type: string
        example: 4521fc64-fa24-35a0-af37-f66897df5c0a
      name:
        type: string
        example: 'C (GCC)'
      language:
        type: string
        example: C
      extensions:
        type: string
        example: '[c, h]'
      platform:
        type: string
        example: GNU/Linux
      description:
        type: string
        example: 'Good ol'' C'
  HardwareGroup:
    type: object
    properties:
      id:
        type: string
        example: dd2a7c4f-68ed-3b61-85ae-13dd1de31671
      description:
        type: string
        example: 'Our only hardware group'
  SolutionRuntimeConfig:
    type: object
    properties:
      id:
        type: string
        example: 1394432e-f41e-315b-a3c3-456c2f702765
      name:
        type: string
        example: 'A demo runtime config'
      runtimeEnvironment:
        type: object
        properties: {  }
      hardwareGroup:
        type: string
        example: dd2a7c4f-68ed-3b61-85ae-13dd1de31671
  Submission:
    type: object
    properties:
      id:
        type: string
        example: 895733d3-5b21-3d6b-bc5d-2f442a0a7fed
      userId:
        type: string
        example: 4912f6b4-d9fc-3126-9cee-b23683c46045
      note:
        type: string
        example: 'Random note'
      exerciseAssignmentId:
        type: string
        example: 69f0f87c-3158-3a33-941f-e4b1ec4a0a93
      submittedAt:
        type: integer
        example: 1478601851
      evaluationStatus:
        type: string
        example: evaluation-failed
      evaluation:
        type: string
        example: 69f0f87c-3158-3a33-941f-e4b1ec4a0a93
      files:
        type: array
        items: {  }
      maxPoints:
        type: integer
        example: 0
