swagger: '2.0'
host: recodex.mff.cuni.cz/api
basePath: /v1
consumes:
  - multipart/form-data
produces:
  - application/json
schemes:
  - https
securityDefinitions:
  WebToken:
    type: apiKey
    in: header
    name: Authorization
  BackendAuth:
    type: basic
info:
  title: 'ReCodEx REST API'
  version: v1.8.0
  description: 'Provides access to user/group management and submission evaluation'
tags:
  -
    name: exercises
    description: 'Endpoints for exercise manipulation'
  -
    name: broker-reports
    description: 'Endpoints used by the backend to notify the frontend of errors and changes in job status'
  -
    name: login
    description: 'Endpoints used to log a user in'
  -
    name: comments
    description: 'Endpoints for comment manipulation'
  -
    name: assignments
    description: 'Endpoints for exercise assignment manipulation'
  -
    name: groups
    description: 'Endpoints for group manipulation'
  -
    name: instances
    description: 'Endpoints for instance manipulation'
  -
    name: reference-exercise-solutions
    description: 'Endpoints for manipulation of reference solutions of exercises'
  -
    name: submissions
    description: 'Endpoints for manipulation of solution submissions'
  -
    name: uploaded-files
    description: 'Endpoints for management of uploaded files'
  -
    name: users
    description: 'User management endpoints'
  -
    name: forgotten-password
    description: 'Endpoints associated with resetting forgotten passwords'
  -
    name: submission-failures
    description: 'Submission failure report viewing and resolution'
  -
    name: runtime-environments
    description: 'Runtime environments endpoints'
  -
    name: hardware-groups
    description: 'Hardware groups endpoints'
  -
    name: job-config
    description: 'Endpoints for job configuration manipulation and validation'
  -
    name: exercise-files
    description: 'Endpoints for exercise files manipulation'
  -
    name: exercises-config
    description: 'Endpoints for exercise configuration manipulation'
  -
    name: submit
    description: 'Endpoints for submitting an assignment'
  -
    name: registration
    description: 'Registration management endpoints'
  -
    name: email-verification
    description: 'Verify user''s email addresses.'
  -
    name: pipelines
    description: 'Endpoints for pipelines manipulation'
  -
    name: sis
    description: ''
  -
    name: assignment-solutions
    description: 'Endpoints for manipulation of solution submissions'
  -
    name: security
    description: ''
paths:
  /login:
    post:
      description: 'Log in using user credentials'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'User''s E-mail'
          format: email
          minLength: 1
        -
          name: password
          required: false
          type: string
          in: formData
          description: Password
          minLength: 1
      responses:
        200:
          $ref: '#/responses/LoginResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - login
  /login/refresh:
    post:
      description: 'Refresh the access token of current user'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/LoginResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - login
      security:
        -
          WebToken: [ ]
  '/comments/{id}':
    get:
      description: 'Get a comment thread'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the comment thread'
      responses:
        200:
          $ref: '#/responses/CommentThreadResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        -
          WebToken: [ ]
    post:
      description: 'Add a comment to a thread'
      parameters:
        -
          name: text
          required: false
          type: string
          in: formData
          description: 'Text of the comment'
          minLength: 1
        -
          name: isPrivate
          required: false
          type: string
          in: formData
          description: 'True if the comment is private'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the comment thread'
      responses:
        200:
          $ref: '#/responses/CommentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        -
          WebToken: [ ]
  '/comments/{threadId}/comment/{commentId}/toggle':
    post:
      description: 'Make a private comment public or vice versa'
      parameters:
        -
          name: threadId
          required: true
          in: path
          type: string
          description: 'Identifier of the comment thread'
        -
          name: commentId
          required: true
          in: path
          type: string
          description: 'Identifier of the comment'
      responses:
        200:
          $ref: '#/responses/CommentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - comments
      security:
        -
          WebToken: [ ]
  /broker-reports/error:
    post:
      tags:
        - broker-reports
      description: 'Announce a backend error that is not related to any job (meant to be called by the backend)'
      parameters:
        -
          name: message
          required: false
          type: string
          in: formData
          description: 'A textual description of the error'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          BackendAuth: [ ]
  '/broker-reports/job-status/{jobId}':
    post:
      tags:
        - broker-reports
      description: 'Update the status of a job (meant to be called by the backend)'
      parameters:
        -
          name: status
          required: false
          type: string
          in: formData
          description: 'The new status of the job'
        -
          name: message
          required: false
          type: string
          in: formData
          description: 'A textual explanation of the status change'
        -
          name: jobId
          required: true
          in: path
          type: string
          description: 'Identifier of the job whose status is being reported'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          BackendAuth: [ ]
  /exercises:
    get:
      description: 'Get a list of exercises with an optional filter'
      parameters:
        -
          name: search
          required: false
          in: query
          type: string
          description: 'text which will be searched in exercises names'
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - exercises
      security:
        -
          WebToken: [ ]
    post:
      description: "Create exercise with all default values.\nExercise detail can be then changed in appropriate endpoint."
      parameters:
        -
          name: groupId
          in: formData
          required: false
          description: 'Identifier of the group to which exercise belongs to'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}':
    get:
      description: 'Get details of an exercise'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - exercises
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update detail of an exercise'
      parameters:
        -
          name: difficulty
          required: false
          in: formData
          description: 'Difficulty of an exercise, should be one of ''easy'', ''medium'' or ''hard'''
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: isPublic
          in: formData
          required: false
          description: 'Exercise can be public or private'
          type: boolean
        -
          name: version
          in: formData
          required: false
          description: 'Version of the edited exercise'
          type: integer
        -
          name: localizedTexts
          in: formData
          required: false
          description: 'A description of the exercise'
          type: array
          items:
            $ref: '#/definitions/LocalizedExerciseParam'
        -
          name: isLocked
          in: formData
          required: false
          type: boolean
          description: 'If true, the exercise cannot be assigned'
        -
          name: configurationType
          in: formData
          required: false
          type: string
          description: 'Identifies the way the evaluation of the exercise is configured'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
    delete:
      description: 'Delete an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  /exercise-assignments:
    get:
      tags:
        - assignments
      description: 'Get a list of all assignments'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/AssignmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Assign an exercise to a group'
      parameters:
        -
          name: exerciseId
          required: false
          type: string
          in: formData
          description: 'Identifier of the exercise'
        -
          name: groupId
          required: false
          type: string
          format: uuid
          in: formData
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}':
    get:
      tags:
        - assignments
      description: 'Get details of an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
    post:
      tags:
        - assignments
      description: 'Update details of an assignment'
      parameters:
        -
          name: isPublic
          required: false
          type: boolean
          in: formData
          description: 'Is the assignment ready to be displayed to students?'
        -
          name: firstDeadline
          required: false
          type: integer
          in: formData
          description: 'First deadline for submission of the assignment'
        -
          name: allowSecondDeadline
          required: false
          type: boolean
          in: formData
          description: 'Should there be a second deadline for students who didn''t make the first one?'
        -
          name: secondDeadline
          required: false
          type: integer
          in: formData
          description: 'A second deadline for submission of the assignment (with different point award)'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the updated assignment'
        -
          name: maxPointsBeforeFirstDeadline
          required: false
          type: integer
          in: formData
          description: 'A maximum of points that can be awarded for a submission before first deadline'
        -
          name: submissionsCountLimit
          required: false
          type: integer
          in: formData
          description: 'A maximum amount of submissions by a student for the assignment'
        -
          name: maxPointsBeforeSecondDeadline
          required: false
          type: integer
          in: formData
          description: 'A maximum of points that can be awarded for a late submission'
        -
          name: localizedTexts
          required: false
          type: array
          items:
            $ref: '#/definitions/LocalizedExerciseParam'
          in: formData
          description: 'A description of the assignment'
        -
          name: canViewLimitRatios
          required: false
          type: boolean
          in: formData
          description: 'Can user view ratio of his solution memory and time usages and assignment limits?'
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the edited exercise'
        -
          name: isBonus
          in: formData
          required: false
          type: boolean
          description: 'If set to true then points from this exercise will not be included in overall score of group'
        -
          name: pointsPercentualThreshold
          in: formData
          required: false
          type: integer
          description: 'A minimum percentage of points needed to gain point from assignment'
        -
          name: disabledRuntimeEnvironmentIds
          in: formData
          required: false
          description: 'Identifiers of runtime environments that should not be used for student submissions (only supported for JSON requests)'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
    delete:
      tags:
        - assignments
      description: 'Delete an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment to be removed'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/can-submit':
    get:
      tags:
        - submit
      description: 'Check if the current user can submit solutions to the assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/users/{userId}/submissions':
    get:
      tags:
        - assignments
      description: 'Get a list of solutions submitted by a user of an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/SubmissionListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/users/{userId}/best-submission':
    get:
      tags:
        - assignments
      description: 'Get the best solution by a user to an assignment'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/SubmissionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  '/exercise-assignments/{id}/submit':
    post:
      tags:
        - submit
      description: 'Submit a solution of an assignment'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'A private note by the author of the solution'
        -
          name: files
          required: false
          type: array
          items:
            type: string
            format: guid
          in: formData
          description: 'Submitted files'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the assignment'
        -
          name: userId
          in: formData
          required: false
          description: 'Author of the submission'
        -
          name: runtimeEnvironmentId
          in: formData
          type: string
          format: guid
          required: false
          description: 'Identifier of the runtime environment used for evaluation'
        -
          name: solutionParams
          in: formData
          required: false
          description: 'Solution parameters'
      responses:
        200:
          $ref: '#/responses/AssignmentSubmissionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
  /groups:
    get:
      description: 'Get a list of all non-archived groups'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Create a new group'
      parameters:
        -
          name: instanceId
          required: false
          type: string
          format: guid
          in: formData
          description: 'An identifier of the instance where the group should be created'
          minLength: 36
          maxLength: 36
        -
          name: parentGroupId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the parent group (if none is given, a top-level group is created)'
          minLength: 36
          maxLength: 36
        -
          name: publicStats
          required: false
          type: boolean
          in: formData
          description: 'Should students be able to see each other''s results?'
        -
          name: isPublic
          required: false
          type: boolean
          in: formData
          description: 'Should the group be visible to all student?'
        -
          name: externalId
          type: string
          in: formData
          required: false
          description: 'An informative, human readable identifier of the group'
        -
          name: localizedTexts
          in: formData
          required: false
          description: 'Localized names and descriptions'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  /groups/validate-add-group-data:
    post:
      description: 'Validate group creation data'
      parameters:
        -
          name: name
          required: false
          type: string
          in: formData
          description: 'Name of the group'
        -
          name: instanceId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the instance where the group belongs'
        -
          name: parentGroupId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of the parent group'
        -
          name: locale
          in: formData
          required: false
          description: 'The locale of the name'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}':
    get:
      description: 'Get details of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Delete a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update group info'
      parameters:
        -
          name: publicStats
          in: formData
          required: false
          type: boolean
          description: 'Should students be able to see each other''s results?'
        -
          name: isPublic
          in: formData
          required: false
          type: boolean
          description: 'Should the group be visible to all student?'
        -
          name: threshold
          in: formData
          required: false
          type: integer
          description: 'A minimum percentage of points needed to pass the course'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the updated group'
        -
          name: externalId
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'An informative, human readable indentifier of the group'
        -
          name: hasThreshold
          in: formData
          required: false
          type: boolean
          description: 'True if threshold was given, false if it should be unset'
        -
          name: localizedTexts
          in: formData
          required: false
          description: 'Localized names and descriptions'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - groups
  '/groups/{id}/subgroups':
    get:
      description: 'Get a list of subgroups of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/members':
    get:
      description: 'Get a list of members of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/students':
    get:
      description: 'Get a list of students in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/students/stats':
    get:
      description: "Get statistics of a group. If the user does not have the rights to view all of these, try to at least\nreturn their statistics."
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupStatsResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/students/{userId}':
    get:
      description: 'Get statistics of a single student in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the student'
      responses:
        200:
          $ref: '#/responses/StudentStatsResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Add a student to a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the student'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Remove a student from a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the student'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/supervisors':
    get:
      description: 'Get a list of supervisors in a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/supervisors/{userId}':
    post:
      description: 'Add a supervisor to a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the supervisor'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Remove a supervisor from a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          required: true
          in: path
          type: string
          description: 'Identifier of the supervisor'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/admin':
    get:
      description: 'Get identifiers of administrators of a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AdminIdListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
    post:
      description: 'Make a user an administrator of a group'
      parameters:
        -
          name: userId
          required: false
          type: string
          format: guid
          in: formData
          description: 'Identifier of a user to be made administrator'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  '/groups/{id}/assignments':
    get:
      description: 'Get all exercise assignments for a group'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/AssignmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - groups
      security:
        -
          WebToken: [ ]
  /instances:
    get:
      description: 'Get a list of all instances'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/InstanceListResponse'
      tags:
        - instances
    post:
      description: 'Create a new instance'
      parameters:
        -
          name: isOpen
          required: false
          type: boolean
          in: formData
          description: 'Should the instance be open for registration?'
        -
          name: name
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'Name of the instance'
        -
          name: description
          in: formData
          required: false
          description: 'Description of the instance'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}':
    get:
      description: 'Get details of an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
      tags:
        - instances
    delete:
      description: 'Delete an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance to be deleted'
      responses:
        200:
          $ref: '#/responses/DeleteResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update an instance'
      parameters:
        -
          name: name
          required: false
          type: string
          minLength: 2
          in: formData
          description: 'Name of the instance'
        -
          name: description
          required: false
          in: formData
          description: 'Description of the instance'
        -
          name: isOpen
          required: false
          type: boolean
          in: formData
          description: 'Should the instance be open for registration?'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the updated instance'
      responses:
        200:
          $ref: '#/responses/InstanceResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}/groups':
    get:
      description: 'Get a list of all groups which user can view in an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}/users':
    get:
      description: 'Get a list of users registered in an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
        -
          name: search
          required: false
          in: query
          type: string
          description: 'A result filter'
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/instances/{id}/licences':
    get:
      description: 'Get a list of licenses associated with an instance'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/LicenceListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
    post:
      description: 'Create a new license for an instance'
      parameters:
        -
          name: note
          required: false
          type: string
          in: formData
          description: 'A note for users or administrators'
          minLength: 2
        -
          name: validUntil
          required: false
          type: integer
          in: formData
          description: 'Expiration date of the license'
        -
          name: id
          required: true
          in: path
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/LicenceResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  /submissions:
    get:
      description: 'Get a list of all submissions, ever'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/SubmissionListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - submissions
      security:
        -
          WebToken: [ ]
  '/submissions/{id}':
    get:
      description: 'Get information about the evaluation of a submission'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the submission'
      responses:
        200:
          $ref: '#/responses/SubmissionResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - submissions
      security:
        -
          WebToken: [ ]
    post:
      description: 'Set new amount of bonus points for a submission'
      parameters:
        -
          name: bonusPoints
          in: formData
          required: false
          type: integer
          description: 'New amount of bonus points, can be negative number'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the submission'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
  /uploaded-files:
    post:
      description: 'Upload a file'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/UploadedFileResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  '/uploaded-files/{id}':
    get:
      description: 'Get details of a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the uploaded file'
      responses:
        200:
          $ref: '#/responses/UploadedFileResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  '/uploaded-files/{id}/download':
    get:
      description: 'Download a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the file'
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  '/uploaded-files/{id}/content':
    get:
      description: 'Get the contents of a file'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the file'
      responses:
        200:
          $ref: '#/responses/FileContentResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - uploaded-files
      security:
        -
          WebToken: [ ]
  /users:
    get:
      description: 'Get a list of all users'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/UserListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - users
    post:
      description: 'Create a user account'
      parameters:
        -
          name: email
          required: false
          type: string
          in: formData
          description: 'An email that will serve as a login name'
          format: email
        -
          name: firstName
          required: false
          type: string
          in: formData
          description: 'First name'
          minLength: 2
        -
          name: lastName
          required: false
          type: string
          in: formData
          description: 'Last name'
          minLength: 2
        -
          name: password
          required: false
          type: string
          in: formData
          description: 'A password for authentication'
          minLength: 1
        -
          name: instanceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the instance to register in'
          minLength: 1
        -
          name: degreesBeforeName
          required: false
          type: string
          minLength: 1
          in: formData
          description: 'Degrees which is placed before user name'
        -
          name: degreesAfterName
          required: false
          type: string
          minLength: 1
          in: formData
          description: 'Degrees which is placed after user name'
        -
          name: passwordConfirm
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'A password confirmation'
      responses:
        200:
          $ref: '#/responses/UserResponse'
      tags:
        - registration
  /users/ext:
    post:
      description: 'Create an account authenticated with an external service (and link it with either a new user account or an existing one)'
      parameters:
        -
          name: instanceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the instance to register in'
          minLength: 1
        -
          name: serviceId
          required: false
          type: string
          in: formData
          description: 'Identifier of the authentication service'
          minLength: 1
      responses:
        200:
          $ref: '#/responses/UserResponse'
      tags:
        - registration
  /users/validate-registration-data:
    post:
      description: 'Check if the registered E-mail isn''t already used and if the password is strong enough'
      parameters:
        -
          name: email
          required: false
          type: string
          format: email
          in: formData
          description: 'E-mail address (login name)'
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'Authentication password'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
      tags:
        - registration
  '/users/{id}':
    get:
      description: 'Get details of a user account'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
    post:
      description: 'Update the profile associated with a user account'
      parameters:
        -
          name: firstName
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'First name'
        -
          name: lastName
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'Last name'
        -
          name: degreesBeforeName
          in: formData
          required: false
          description: 'Degrees before name'
        -
          name: degreesAfterName
          in: formData
          required: false
          description: 'Degrees after name'
        -
          name: oldPassword
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'Old password of current user'
        -
          name: password
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'New password of current user'
        -
          name: email
          in: formData
          required: false
          description: 'New email address'
          type: string
          format: email
        -
          name: passwordConfirm
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'Confirmation of new password of current user'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - users
    delete:
      description: 'Delete a user account'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
      tags:
        - users
  '/users/{id}/groups':
    get:
      description: 'Get a list of non-archived groups for a user'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/UserGroupsResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  '/users/{id}/instances':
    get:
      description: 'Get a list of instances where a user is registered'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/InstanceListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  '/users/{id}/exercises':
    get:
      description: 'Get a list of exercises authored by a user'
      parameters:
        -
          name: id
          required: true
          in: path
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - users
      security:
        -
          WebToken: [ ]
  /forgotten-password:
    post:
      description: 'Request a password reset (user will receive an e-mail that prompts them to reset their password)'
      parameters:
        -
          name: username
          required: false
          type: string
          in: formData
          description: 'An identifier of the user whose password should be reset'
          minLength: 2
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - forgotten-password
  /forgotten-password/change:
    post:
      description: 'Change the user''s password'
      parameters:
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'The new password'
          minLength: 2
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      tags:
        - forgotten-password
      security:
        -
          WebToken: [ ]
  /forgotten-password/validate-password-strength:
    post:
      description: 'Check if a password is strong enough'
      parameters:
        -
          name: password
          required: false
          type: string
          format: password
          in: formData
          description: 'The password to be checked'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
      tags:
        - forgotten-password
  '/instances/licences/{licenceId}':
    post:
      description: 'Update an existing license for an instance'
      parameters:
        -
          name: note
          required: false
          type: string
          minLength: 2
          in: formData
          description: 'A note for users or administrators'
        -
          name: validUntil
          required: false
          type: string
          in: formData
          description: 'Expiration date of the license'
        -
          name: isValid
          required: false
          type: boolean
          in: formData
          description: 'Administrator switch to toggle licence validity'
        -
          name: licenceId
          required: true
          in: path
          type: string
          description: 'Identifier of the licence'
      responses:
        200:
          $ref: '#/responses/LicenceResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
    delete:
      description: 'Remove existing license for an instance'
      parameters:
        -
          name: licenceId
          required: true
          in: path
          type: string
          description: 'Identifier of the licence'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - instances
      security:
        -
          WebToken: [ ]
  '/exercises/{id}/supplementary-files':
    post:
      description: 'Associate supplementary files with an exercise and upload them to remote file server'
      parameters:
        -
          name: files
          required: false
          in: formData
          description: 'Identifiers of supplementary files'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
    get:
      description: 'Get list of all supplementary files for an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
  /submission-failures:
    get:
      description: 'List all submission failures, ever'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/SubmissionFailureListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  /submission-failures/unresolved:
    get:
      description: 'List all unresolved submission failures'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/SubmissionFailureListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/submission-failures/submission/{id}':
    get:
      description: 'List all failures of a single submission'
      parameters:
        -
          name: submissionId
          in: path
          required: true
          type: string
          description: 'An identifier of the submission'
      responses:
        200:
          $ref: '#/responses/SubmissionFailureListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/submission-failures/{id}':
    get:
      description: 'Get details of a failure'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the failure'
      responses:
        200:
          $ref: '#/responses/SubmissionFailureResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/submission-failures/{id}/resolve':
    post:
      description: 'Mark a submission failure as resolved'
      parameters:
        -
          name: note
          in: formData
          required: false
          type: string
          maxLength: 255
          description: 'Brief description of how the failure was resolved'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the failure'
        -
          name: sendEmail
          in: formData
          required: false
          type: boolean
          description: 'True if email should be sent to the author of submission'
      responses:
        200:
          $ref: '#/responses/SubmissionFailureResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submission-failures
  '/users/{id}/settings':
    post:
      description: 'Update the profile settings'
      parameters:
        -
          name: darkTheme
          in: formData
          required: false
          type: boolean
          description: 'Flag if dark theme is used'
        -
          name: vimMode
          in: formData
          required: false
          type: boolean
          description: 'Flag if vim keybinding is used'
        -
          name: defaultLanguage
          in: formData
          required: false
          type: string
          description: 'Default language of UI'
        -
          name: openedSidebar
          in: formData
          required: false
          type: boolean
          description: 'Flag if the sidebar of the web-app should be opened by default.'
        -
          name: newAssignmentEmails
          in: formData
          required: false
          type: boolean
          description: 'Flag if email should be sent to user when new assignment was created'
        -
          name: assignmentDeadlineEmails
          in: formData
          required: false
          type: boolean
          description: 'Flag if email should be sent to user if assignment deadline is nearby'
        -
          name: submissionEvaluatedEmails
          in: formData
          required: false
          type: boolean
          description: 'Flag if email should be sent to user when resubmission was evaluated'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the user'
      responses:
        200:
          $ref: '#/responses/UserResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - users
  /runtime-environments:
    get:
      description: 'Get a list of all runtime environments'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/RuntimeEnvironmentListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - runtime-environments
  '/exercises/{id}/validate':
    post:
      description: 'Check if the version of the exercise is up-to-date.'
      parameters:
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the exercise.'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ValidationResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}/fork':
    post:
      description: 'Fork exercise from given one into the completely new one.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: groupId
          in: formData
          required: false
          description: 'Identifier of the group to which exercise will be forked'
      responses:
        200:
          $ref: '#/responses/ExerciseResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercise-assignments/{id}/validate':
    post:
      description: 'Check if the version of the assignment is up-to-date.'
      parameters:
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the assignment.'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the assignment'
      responses:
        200:
          $ref: '#/responses/ValidationResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - assignments
  '/submissions/{id}/download-result':
    get:
      description: 'Download result archive from backend for particular submission.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
  /hardware-groups:
    get:
      description: 'Get a list of all hardware groups in system'
      parameters: [ ]
      responses:
        200:
          $ref: '#/responses/HardwareGroupListResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - hardware-groups
  /job-config/validate:
    post:
      description: 'Validate low-level job configuration in YAML and return list of error messages'
      parameters:
        -
          name: jobConfig
          in: formData
          required: false
          type: string
          description: 'Job configuration YAML'
      responses:
        200:
          $ref: '#/responses/PlainTextResponse'
      tags:
        - job-config
  '/exercises/{id}/additional-files':
    post:
      description: 'Associate additional exercise files with an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: files
          in: formData
          required: false
          type: array
          items:
            type: string
            format: guid
          description: 'Identifiers of additional files'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
    get:
      description: 'Get a list of all additional files for an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
  '/reference-solutions/exercise/{exerciseId}':
    get:
      description: 'Get reference solutions for an exercise'
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
    post:
      description: 'Add new reference solution to an exercise'
      parameters:
        -
          name: note
          in: formData
          required: false
          type: string
          description: 'Description of this particular reference solution, for example used algorithm'
        -
          name: files
          in: formData
          required: false
          description: 'Files of the reference solution'
        -
          name: exerciseId
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: runtimeEnvironmentId
          in: formData
          required: false
          description: 'ID of runtime for this solution'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/exercise/{exerciseId}/evaluate':
    post:
      description: 'Evaluate all reference solutions for an exercise (and for all configured hardware groups).'
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: debug
          in: formData
          required: false
          type: boolean
          description: ''
      responses:
        200:
          $ref: '#/responses/ExerciseReferenceSolutionEvaluationsReponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/{id}/evaluate':
    post:
      description: 'Evaluate a single reference exercise solution for all configured hardware groups'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the reference solution'
        -
          name: debug
          in: formData
          required: false
          type: boolean
          description: ''
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionEvaluationsReponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/evaluation/{evaluationId}/download-result':
    get:
      description: 'Download result archive from backend for a reference solution evaluation'
      parameters:
        -
          name: evaluationId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
        403:
          $ref: '#/responses/ForbiddenResponse'
      tags:
        - reference-exercise-solutions
  '/submissions/{id}/set-accepted':
    post:
      description: 'Set submission of student as accepted, this submission will be then presented as the best one.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identifier of the submission'
      responses:
        200:
          $ref: '#/responses/StudentStatsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
  '/login/takeover/{userId}':
    post:
      description: 'Takeover user account with specified user identification.'
      parameters:
        -
          name: userId
          in: path
          required: true
          description: ''
      responses:
        200:
          $ref: '#/responses/LoginResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - login
  '/login/{serviceId}[/{type}]':
    post:
      description: 'Log in using an external authentication service'
      parameters:
        -
          name: serviceId
          in: path
          required: true
          type: string
          description: 'Identifier of the login service'
        -
          name: type
          in: path
          required: true
          type: string
          description: 'Type of the authentication process'
      responses:
        200:
          $ref: '#/responses/LoginResponse'
      tags:
        - login
  '/exercises/{id}/pipelines':
    get:
      description: 'Get all pipelines for an exercise.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200:
          $ref: '#/responses/PipelineListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}/supplementary-files/{fileId}':
    delete:
      description: 'Delete supplementary exercise file with given id'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: fileId
          in: path
          required: true
          type: string
          description: 'identification of file'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
  '/exercises/{id}/additional-files/{fileId}':
    delete:
      description: 'Delete additional exercise file with given id'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: fileId
          in: path
          required: true
          type: string
          description: 'identification of file'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
  '/exercises/{id}/environment-configs':
    get:
      description: 'Get runtime configurations for exercise.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
    post:
      description: "Change runtime configuration of exercise.\nConfigurations can be added or deleted here, based on what is provided in arguments."
      parameters:
        -
          name: environmentConfigs
          in: formData
          required: false
          description: 'Environment configurations for the exercise'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
  '/exercises/{id}/config':
    get:
      description: 'Get a basic exercise high level configuration.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
    post:
      description: 'Set basic exercise configuration'
      parameters:
        -
          name: config
          in: formData
          required: false
          description: 'A list of basic high level exercise configuration'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
  '/exercises/{id}/config/variables':
    post:
      description: "Get variables for exercise configuration which are derived from given\npipelines and runtime environment."
      parameters:
        -
          name: runtimeEnvironmentId
          in: formData
          required: false
          type: string
          minLength: 1
          description: 'Environment identifier'
        -
          name: pipelinesIds
          in: formData
          required: false
          description: 'Identifiers of selected pipelines for one test'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
  '/exercises/{id}/environment/{runtimeEnvironmentId}/limits':
    get:
      description: 'Get a description of resource limits for an exercise.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: runtimeEnvironmentId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/LimitsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
    post:
      description: 'Set resource limits for an exercise.'
      parameters:
        -
          name: limits
          in: formData
          required: false
          description: 'A list of resource limits for the given environment'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: runtimeEnvironmentId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/LimitsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
  '/exercises/{id}/environment/{runtimeEnvironmentId}/hwgroup/{hwGroupId}/limits':
    get:
      description: 'Get a description of resource limits for an exercise for given hwgroup'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: runtimeEnvironmentId
          in: path
          required: true
          type: string
          description: ''
        -
          name: hwGroupId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/LimitsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
    post:
      description: 'Set resource limits for an exercise for given hwgroup.'
      parameters:
        -
          name: limits
          in: formData
          required: false
          description: 'A list of resource limits for the given environment and hardware group'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: runtimeEnvironmentId
          in: path
          required: true
          type: string
          description: ''
        -
          name: hwGroupId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/LimitsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
    delete:
      description: 'Remove resource limits of given hwgroup from an exercise.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
        -
          name: runtimeEnvironmentId
          in: path
          required: true
          type: string
          description: ''
        -
          name: hwGroupId
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
  '/exercises/{id}/score-config':
    get:
      description: 'Get score configuration for exercise based on given identification.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
    post:
      description: 'Set score configuration for exercise.'
      parameters:
        -
          name: scoreConfig
          in: formData
          required: false
          type: string
          description: 'A configuration of the score calculator (the exact format depends on the calculator assigned to the exercise)'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises-config
  '/exercise-assignments/{id}/best-submissions':
    get:
      description: 'Get the best solutions to an assignment for all students in group.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the assignment'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - assignments
  '/exercise-assignments/{id}/sync-exercise':
    post:
      description: 'Update the assignment so that it matches with the current version of the exercise (limits, texts, etc.)'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the exercise that should be synchronized'
      responses:
        200:
          $ref: '#/responses/AssignmentResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - assignments
  '/exercise-assignments/{id}/resubmit-all':
    post:
      description: 'Resubmit all submissions to an assignment'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the assignment'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submit
  '/groups/{id}/public':
    get:
      description: 'Get public data about group.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - groups
  '/groups/{id}/admin/{userId}':
    delete:
      description: 'Remove user as an administrator of a group'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the group'
        -
          name: userId
          in: path
          required: true
          type: string
          description: 'identifier of admin'
      responses:
        200:
          $ref: '#/responses/GroupResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - groups
  '/groups/{id}/exercises':
    get:
      description: 'Get all exercises for a group'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the group'
      responses:
        200:
          $ref: '#/responses/ExerciseListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - groups
  '/instances/{id}/groups/public':
    get:
      description: 'Get a list of all public groups in an instance.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'An identifier of the instance'
      responses:
        200:
          $ref: '#/responses/GroupListResponse'
      tags:
        - instances
  '/reference-solutions/evaluation/{evaluationId}':
    get:
      description: 'Get reference solution evaluation for an exercise solution.'
      parameters:
        -
          name: evaluationId
          in: path
          required: true
          type: string
          description: 'identifier of the reference exercise evaluation'
      responses:
        200: {  }
      tags:
        - reference-exercise-solutions
  '/reference-solutions/{solutionId}':
    delete:
      description: 'Delete reference solution with given identification.'
      parameters:
        -
          name: solutionId
          in: path
          required: true
          type: string
          description: 'identifier of reference solution'
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
      tags:
        - reference-exercise-solutions
  '/reference-solutions/{solutionId}/evaluations':
    get:
      description: 'Get reference solution evaluations for an exercise solution.'
      parameters:
        -
          name: solutionId
          in: path
          required: true
          type: string
          description: 'identifier of the reference exercise solution'
      responses:
        200:
          $ref: '#/responses/ReferenceSolutionEvaluationsReponse'
      tags:
        - reference-exercise-solutions
  '/submissions/{id}/unset-accepted':
    delete:
      description: 'Set submission of student as unaccepted if it was.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identifier of the submission'
      responses:
        200:
          $ref: '#/responses/StudentStatsResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submissions
  '/submissions/{id}/resubmit':
    post:
      description: 'Resubmit a submission (for example in case of broker failure)'
      parameters:
        -
          name: private
          in: formData
          required: false
          type: boolean
          description: ''
        -
          name: debug
          in: formData
          required: false
          type: boolean
          description: ''
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the submission'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - submit
  '/uploaded-files/supplementary-file/{id}/download':
    get:
      description: 'Download supplementary file'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the file'
      responses:
        200:
          $ref: '#/responses/FileDownloadResponse'
      tags:
        - uploaded-files
  '/users/{id}/public':
    get:
      description: 'Get public data about user.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200: {  }
      tags:
        - users
  /email-verification/verify:
    post:
      description: 'Verify users email.'
      parameters: [ ]
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - email-verification
  /email-verification/resend:
    post:
      description: 'Resend the email for the current user to verify his/her email address.'
      parameters: [ ]
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - email-verification
  /pipelines/boxes:
    get:
      description: 'Get a list of default boxes which might be used in pipeline.'
      parameters: [ ]
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
  /pipelines:
    get:
      description: 'Get a list of pipelines with an optional filter'
      parameters:
        -
          name: search
          in: query
          required: false
          type: string
          description: 'text which will be searched in pipeline names'
      responses:
        200:
          $ref: '#/responses/PipelineListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
    post:
      description: 'Create pipeline.'
      parameters:
        -
          name: exerciseId
          in: formData
          required: false
          description: 'Exercise identification'
      responses:
        200:
          $ref: '#/responses/PipelineResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
  '/pipelines/{id}/fork':
    post:
      description: "Fork pipeline, if exercise identification is given pipeline is forked\nto specified exercise."
      parameters:
        -
          name: exerciseId
          in: formData
          required: false
          description: 'Exercise identification'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of pipeline'
      responses:
        200:
          $ref: '#/responses/PipelineResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
  '/pipelines/{id}':
    get:
      description: 'Get pipeline based on given identification.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the pipeline'
      responses:
        200:
          $ref: '#/responses/PipelineResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
    post:
      description: 'Update pipeline with given data.'
      parameters:
        -
          name: name
          in: formData
          required: false
          type: string
          minLength: 2
          description: 'Name of the pipeline'
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the edited pipeline'
        -
          name: description
          in: formData
          required: false
          description: 'Human readable description of pipeline'
        -
          name: pipeline
          in: formData
          required: false
          description: 'Pipeline configuration'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the pipeline'
        -
          name: parameters
          in: formData
          required: false
          description: 'A set of parameters'
      responses:
        200:
          $ref: '#/responses/PipelineResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
    delete:
      description: 'Delete an pipeline'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: ''
      responses:
        200:
          $ref: '#/responses/SuccessResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
  '/pipelines/{id}/validate':
    post:
      description: 'Check if the version of the pipeline is up-to-date.'
      parameters:
        -
          name: version
          in: formData
          required: false
          type: integer
          description: 'Version of the pipeline.'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'Identifier of the pipeline'
      responses:
        200:
          $ref: '#/responses/BooleanResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
  '/pipelines/{id}/supplementary-files':
    get:
      description: 'Get list of all supplementary files for a pipeline'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of pipeline'
      responses:
        200:
          $ref: '#/responses/UploadedFileListResponse'
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
    post:
      description: 'Associate supplementary files with a pipeline and upload them to remote file server'
      parameters:
        -
          name: files
          in: formData
          required: false
          description: 'Identifiers of supplementary files'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of pipeline'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - pipelines
  /extensions/sis/status/:
    get:
      description: ''
      parameters: [ ]
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  /extensions/sis/terms/:
    post:
      description: 'Register a new term'
      parameters:
        -
          name: year
          in: formData
          required: false
          description: ''
        -
          name: term
          in: formData
          required: false
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
    get:
      description: 'Get a list of all registered SIS terms'
      parameters: [ ]
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  '/extensions/sis/users/{userId}/subscribed-groups/{year}/{term}/as-student':
    get:
      description: 'Get ReCodEx group bound to SIS groups of which the user is a student'
      parameters:
        -
          name: userId
          in: path
          required: true
          description: ''
        -
          name: year
          in: path
          required: true
          description: ''
        -
          name: term
          in: path
          required: true
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  '/extensions/sis/users/{userId}/supervised-courses/{year}/{term}':
    get:
      description: 'Get SIS groups of which the user is a supervisor (regardless of them being bound to a local group)'
      parameters:
        -
          name: userId
          in: path
          required: true
          description: ''
        -
          name: year
          in: path
          required: true
          description: ''
        -
          name: term
          in: path
          required: true
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  '/extensions/sis/remote-courses/{courseId}/possible-parents':
    get:
      description: 'Find groups that can be chosen as parents of a group created from given SIS group by current user'
      parameters:
        -
          name: courseId
          in: path
          required: true
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  '/extensions/sis/remote-courses/{courseId}/create':
    post:
      description: 'Create a new group based on a SIS group'
      parameters:
        -
          name: parentGroupId
          in: formData
          required: false
          description: ''
        -
          name: courseId
          in: path
          required: true
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  '/extensions/sis/remote-courses/{courseId}/bind':
    post:
      description: 'Bind an existing local group to a SIS group'
      parameters:
        -
          name: groupId
          in: formData
          required: false
          description: ''
        -
          name: courseId
          in: path
          required: true
          description: ''
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - sis
  '/exercises/{id}/hardware-groups':
    post:
      description: 'Set hardware groups which are associated with exercise.'
      parameters:
        -
          name: hwGroups
          in: formData
          required: false
          description: 'List of hardware groups identifications to which exercise belongs to'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identifier of exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercises
  '/exercises/{id}/supplementary-files/download-archive':
    get:
      description: 'Download archive containing all supplementary files for exercise.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'of exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
  '/exercises/{id}/attachment-files':
    get:
      description: 'Get a list of all attachment files for an exercise'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
    post:
      description: 'Associate attachment exercise files with an exercise'
      parameters:
        -
          name: files
          in: formData
          required: false
          description: 'Identifiers of attachment files'
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
        - exercise-files
  '/exercises/{id}/attachment-files/{fileId}':
    delete:
      description: 'Delete attachment exercise file with given id'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'identification of exercise'
        -
          name: fileId
          in: path
          required: true
          type: string
          description: 'identification of file'
      responses:
        200: {  }
        401:
          $ref: '#/responses/UnauthorizedResponse'
      security:
        -
          WebToken: [ ]
      tags:
[...]
